<div class="row">
  <div class="col-md-8 col-md-offset-2" style="padding-top: 70px;">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">이용약관 #1</h3>
      </div>
      <div class="panel-body">
        <p>This is the agreement view.</p>
      </div>
    </div>

    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">이용약관 #2</h3>
      </div>
      <div class="panel-body">
        <p>This is the agreement view.</p>
      </div>
    </div>
  </div>
</div>
