<div class="row">
  <sidebar-template></sidebar-template>

  <div class="col-sm-10 col-sm-offset-2" style="margin-top: 20px;">
    <div style="margin-bottom: 20px;">
      <div class="btn-group">
        <button ng-class="{ 'active': mode === 'list' }" class="btn btn-lg btn-default" ng-click="mode = 'list'">목록보기</button>
        <button ng-class="{ 'active': mode === 'edit' }" class="btn btn-lg btn-default" ng-click="mode = 'edit'">작성하기</button>
        <button ng-class="{ 'active': mode === 'view' }" class="btn btn-lg btn-default" ng-click="mode = 'view';">미리보기</button>
      </div>

      <div class="btn-group">
        <button ng-class="{ 'active': mode === 'user' }" class="btn btn-lg btn-default" ng-click="mode = 'user'">견적서 정보</button>
      </div>

      <div class="btn-group">
        <button class="btn btn-lg btn-side btn-primary" ng-click="newEstimate()">새로 만들기</button>
      </div>
    </div>

    <estimate-list ng-show="mode === 'list'"></estimate-list>
    <estimate-edit ng-show="mode === 'edit'"></estimate-edit>
    <estimate-view ng-show="mode === 'view'"></estimate-view>
    <estimate-user ng-show="mode === 'user'"></estimate-user>
    <estimate-company ng-show="mode === 'company'"></estimate-company>
  </div>
</div>