<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-sm-10 col-sm-offset-2">
    <div class="inner-top">
      <form action="" class="form-inline">
        <!-- <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            All Customers <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>


        <div class="form-group">
          <input type="text" class="form-control" placeholder="{{ 'ENTER_SEARCH_WORD'|translate }}">
        </div>
        <button type="submit" class="btn btn-default">{{ 'SEARCH'|translate }}</button> -->
      </form>
      <a class="btn btn-primary pull-right" ng-href="/customer/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'CUSTOMER'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'CONTACT_DISPLAY_NAME'|translate }}</th>
            <th>{{ 'NAME'|translate }}</th>
            <th>{{ 'COMPANY_NAME'|translate }}</th>
            <th>{{ 'CONTACT_EMAIL'|translate }}</th>
            <th>{{ 'CONTACT_PHONE'|translate }}</th>
            <th>{{ 'WEBSITE'|translate }}</th>
            <th>{{ 'MANAGE'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="customer in customers" ng-click="goTo(customer.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(customer.id)" ng-click="updateSelection($event, customer.id); $event.stopPropagation();"></td>
            <td>{{ customer.displayName }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.company.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>
              <a ng-show="customer.website" href="{{ urlify(customer.website) }}" target="_blank" ng-click="$event.stopPropagation()">{{ urlify(customer.website) }}</a>
            </td>
            <td>
              <button class="btn btn-xs btn-danger" ng-click="deleteCustomer(customer.id); $event.stopPropagation();">{{ 'DELETE'|translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>
</div>