<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <form class="form-horizontal" name="customerForm" ng-submit="customerForm.$valid && saveCustomer(customer);">
    <div class="col-sm-10 col-sm-offset-2">
      <h3>{{ 'CUSTOMER_EDITOR'|translate }} <span class="label label-info pull-right" ng-show="customer.id">{{ customer.id }}</span></h3>
      <hr />

      <div class="row">
        <!-- NEW CUSTOMER -->
        <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-3 control-label text-danger bold">{{ 'PRIMARY_CONTACT'|translate }} <i popover="{{ 'PRIMARY_CONTACT_TOOLTIP'|translate }}" popover-trigger="mouseenter" popover-append-to-body="true" class="fa fa-question-circle"></i></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.name" required/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'COMPANY_NAME'|translate }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.company.name" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'CONTACT_DISPLAY_NAME'|translate }} <i popover="{{ 'CONTACT_DISPLAY_NAME_TOOLTIP'|translate }}" popover-trigger="mouseenter" popover-append-to-body="true"class="fa fa-question-circle"></i></label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.displayName" placeholder="{{ (customer.company.name) ? customer.company.name+'-'+customer.name : customer.name }}"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'CONTACT_EMAIL'|translate }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.email"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'CONTACT_PHONE'|translate }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.phone"/>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">{{ 'WEBSITE'|translate }}</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" ng-model="customer.website"/>
            </div>
          </div>
        </div><!-- NEW CUSTOMER -->

        <!-- TIPS -->
        <div class="col-sm-4">
          <p>
            <strong>Can I add an organization as my Contact?</strong><br>
            Yes, Of course! Add the organization’s name in the Contact Display Name. The Contact Name, Email Address and contact number will be that of the primary contact in the organization. You can add more contact persons from the details page.
          </p>
          <p>
            <strong>Can I add an individual person as my Contact?</strong><br>
            Yes. To identify an individual customer, enter his/her name in the ‘Contact Display Name’ followed by other contact information
          </p>
        </div><!-- TIPS -->
      </div>
      <div class="row">
        <div class="col-sm-5"><hr /></div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-default btn-block" ng-click="toggleAdditionals()"><i id="toggle-additionals" class="fa fa-lg fa-fw fa-caret-up"></i> {{ 'ADDITIONAL_INFORMATION'|translate }}</button>
        </div>
        <div class="col-sm-5"><hr /></div>
      </div>

      <!-- ADDITIONALS -->
      <div id="additional-information" style="display: none;">
        <div ng-init="ref='company-information'">
          <button type='button' ng-class="ref==='company-information'? 'btn-default' : 'btn-link'" class="btn" ng-click="ref='company-information'">{{ 'COMPANY_INFORMATION'|translate }}</button>
          <button type='button' ng-class="ref==='payment-details' ? 'btn-default' : 'btn-link'" class="btn" ng-click="ref='payment-details'">{{ 'PAYMENT_DETAILS'|translate }}</button>
          <button type='button' ng-class="ref==='address'? 'btn-default' : 'btn-link'" class="btn" ng-click="ref='address'">{{ 'ADDRESS'|translate }}</button>
          <button type='button' ng-class="ref==='memo'? 'btn-default' : 'btn-link'" class="btn" ng-click="ref='memo'">{{ 'MEMO'|translate }}</button>
        </div>
        <hr />

        <div ng-switch="ref">

          <!-- COMPANY INFORMATION -->
          <div ng-switch-when="company-information">
            <div class="col-sm-8">
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'COMPANY_NAME'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.name"/>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'CHAIRMAN'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.chairman" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">회사형태</label>
                <div class="col-sm-6">
                  <select class="form-control" ng-model="$parent.customer.company.companyType">
                    <option value="INDIVIDUAL">개인</option>
                    <option value="CORPORATE">법인</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'BUSINESS_ID'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.businessId" />
                </div>
              </div>
              <div class="form-group" ng-show="$parent.customer.company.companyType === 'CORPORATE'">
                <label class="col-sm-3 control-label">{{ 'CORPORATE_ID'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.corporateId" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'BUSINESS_TYPE'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.businessType" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'BUSINESS_CATEGORY'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.businessCategory" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">{{ 'PHONE'|translate }}</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="$parent.customer.company.phone"/>
                </div>
              </div>
            </div>
          </div><!-- COMPANY INFORMATION -->

          <!-- PAYMENT DETAILS -->
          <div class="row">
            <div class="col-sm-8">
              <div ng-switch-when="payment-details">
                <div class="form-group">
                  <label class="col-sm-3 control-label">{{ 'BANK_NAME'|translate }}</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="$parent.customer.payment.bank.name"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-3 control-label">{{ 'BANK_ACCOUNT'|translate }}</label>
                  <div class="col-sm-6">
                    <input type="text" class="form-control" ng-model="$parent.customer.payment.bank.account"/>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- PAYMENT DETAILS -->

          <!-- ADDRESS -->
          <div ng-switch-when="address">
            <div class="row">
              <div class="col-sm-6">
                <h5>{{ 'BILLING_ADDRESS'|translate }}</h5>
                <hr />
                <div class="form-group">
                  <label class="col-sm-4">{{ 'ADDRESS'|translate }}</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="customer.billing.address[0]" placeholder="시, 도">
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="customer.billing.address[1]" placeholder="구, 동">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-4">
                    <input type="text" class="form-control" ng-model="customer.billing.address[2]" placeholder="번지, 호">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">{{ 'POSTCODE'|translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="customer.billing.postcode">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">{{ 'PHONE'|translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="customer.billing.phone">
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h5>{{ 'SHIPPING_ADDRESS'|translate }}</h5>
                <hr />
                <div class="form-group">
                  <label class="col-sm-4">{{ 'ADDRESS'|translate }}</label>
                  <div class="col-sm-3">
                    <input type="text" class="form-control" ng-model="customer.shipping.address[0]" placeholder="시, 도">
                  </div>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" ng-model="customer.shipping.address[1]" placeholder="구, 동">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6 col-sm-offset-4">
                    <input type="text" class="form-control" ng-model="customer.shipping.address[2]" placeholder="번지, 호">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">{{ 'POSTCODE'|translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="customer.shipping.postcode">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4">{{ 'PHONE'|translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" ng-model="customer.shipping.phone">
                  </div>
                </div>
              </div>
            </div>
          </div><!-- ADDRESS -->

          <!-- MEMO -->
          <div ng-switch-when="memo">
            <div class="row">
              <div class="col-sm-8">
                <label>{{ 'MEMO'|translate }} ({{ 'FOR_INTERNAL_USE'|translate }})</label>
                <textarea rows="10" class="form-control" ng-model="customer.memo"></textarea>
              </div>
            </div>
          </div><!-- MEMO -->

        </div><!-- ADDITIONALS -->
        <hr />
      </div>

      <button type="submit" class="btn btn-primary">{{ 'SAVE'|translate }}</button>
      <a ng-href="/customer" class="btn btn-default">{{ 'CANCEL'|translate }}</a>
      <hr />
    </div>
  </form>
</div>