<div class="row row-offcanvas row-offcanvas-left">
	<sidebar-template></sidebar-template>

	<div class="col-sm-10 col-sm-offset-2">
    <div class="inner-top">
      <a class="pull-right" ng-href="/dashboard/start">{{ 'GETTING_STARTED'|translate }}</a>
      <h3>{{ 'DASHBOARD'|translate }}</h3>
    </div>

    <loading-indicator></loading-indicator>
    <hr>

    <section class="panel panel-default">
      <div class="panel-heading">
        {{ 'STATISTICS'|translate }}
      </div>
      <div class="panel-body">
        <div ac-chart="'bar'" ac-data="data" ac-config="config" class='chart'></div>
      </div>
    </section>

    <div class="row row-arranged">
      <div class="col-sm-6">
        <section class="panel panel-info">
          <div class="panel-heading">
            사용하는 방법
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2" style="padding: 0px;">
                <a ng-href="/estimate" class="btn btn-block btn-default">{{ 'ESTIMATE'|translate }}</a>
              </div>
              <div class="col-xs-10">
                <strong>견적서</strong>를 작성하여 이메일 전송 기능을 통해 고객에게 보냅니다.
              </div>
            </div>
            <p class="text-center">
              <i class="fa fa-fw fa-arrow-down"></i>
            </p>
            <div class="row">
              <div class="col-xs-2" style="padding: 0px;">
                <a ng-href="/invoice" class="btn btn-block btn-primary">{{ 'INVOICE'|translate }}</a>
              </div>
              <div class="col-xs-10">
                <strong>청구서</strong>는 고객에게 보내진 견적서가 승인되면 자동으로 발행되고, 고객은 청구서를 통해 금액을 지불할 수 있습니다.
              </div>
            </div>
            <p class="text-center">
              <i class="fa fa-fw fa-arrow-down"></i>
            </p>
             <div class="row">
              <div class="col-xs-2" style="padding: 0px;">
                <a ng-href="/payment" class="btn btn-block btn-success">{{ 'PAYMENTS_RECEIVED'|translate }}</a>
              </div>
              <div class="col-xs-10">
                <strong>지불 내역</strong>은 청구된 금액이 지불되면 영수증의 형태로 보관됩니다.
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>

	</div>
</div>