<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <div class="inner-top">
      <p class="help-block pull-right"><i class="fa fa-fw fa-exclamation"></i> 4Work 에서 보낸 이메일만 기록됩니다.</p>
      <h3>{{ 'EMAIL_HISTORY'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'SENT_AT'|translate }}</th>
            <th>{{ 'TITLE'|translate }}</th>
            <th>{{ 'SEND_TO'|translate }}</th>
            <th>{{ 'ATTACHMENT'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="item in emails" ng-click="goTo(item.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>{{ item.createdAt|date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ item.subject }}</td>
            <td>
              <!-- TO -->
              <span style="margin-right: 5px;" class="label label-default" ng-repeat="email in item.to">{{ email }}</span>
              <!-- CC -->
              <span style="margin-right: 5px;" class="label label-default" ng-repeat="email in item.cc">{{ email }}</span>
              <!-- BCC -->
              <span style="margin-right: 5px;" class="label label-default" ng-repeat="email in item.bcc">{{ email }}</span>
            </td>
            <td>
              <a ng-href="/{{ item.model }}/view/{{ item[item.model].id }}">
              {{ item.model.toUpperCase()|translate }}
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-click="pageChanged()"></pagination>
    </nav>
  </div>
</div>