<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-3 col-md-offset-2 hidden-xs" ng-hide="isLoading">
    <div class="inner-top">
      <h3>{{ 'EMAIL'|translate }}</h3>
      <hr />
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'SENT_AT'|translate }}</th>
            <th style="text-align: right;">{{ 'SEND_TO'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="item in emails" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === email.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>{{ item.createdAt|date:'yyyy년 MM월 dd일' }}</td>
            <td style="text-align: right;">
              {{ item.to[0] }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>

  <div class="col-md-7 estimate-preview">
    <div style="margin-top: 20px;">
      <div class="btn-group btn-side">
      </div>
      <a ng-click="goBack()" class="pull-right"><i class="fa fa-2x fa-close"></i></a>
    </div>

    <div class="panel panel-default panel-estimate" style="margin-top: 20px;" id="preview">
      <div class="row">
        <label class="col-xs-2 control-label">{{ 'FROM'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element">{{ email.from }}</p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-2 control-label">{{ 'SEND_TO'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element">
            <span ng-repeat="e in email.to">{{ e }} </span>
          </p>
        </div>
      </div>

      <div class="row" ng-show="email.cc">
        <label class="col-xs-2 control-label">{{ 'CC'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element">
            <span ng-repeat="e in email.cc">{{ e }} </span>
          </p>
        </div>
      </div>

      <div class="row" ng-show="email.bcc">
        <label class="col-xs-2 control-label">{{ 'BCC'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element">
            <span ng-repeat="e in email.bcc">{{ e }} </span>
          </p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-2 control-label">{{ 'TITLE'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element">{{ email.subject }}</p>
        </div>
      </div>

      <div class="row">
        <label class="col-xs-2 control-label">{{ 'SUBJECT'|translate }}</label>
        <div class="col-xs-10">
          <p class="mail-element" ng-bind-html="email.content"></p>
        </div>
      </div>
    </div>
  </div>
</div>