<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <h3>{{ 'EMAIL'|translate }}</h3>
    <hr />

    <form class="form-horizontal" name="emailForm">
      <input type="hidden" ng-model="email.type">

      <div class="form-group">
        <label class="col-xs-1 control-label">{{ 'FROM'|translate }}</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="email.from" disabled />
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error': emailForm.to.$invalid }">
        <label class="col-xs-1 control-label">{{ 'SEND_TO'|translate }}</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" name="to" ng-model="email.to" required />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-1 control-label">{{ 'CC'|translate }}</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="email.cc" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-1 control-label">{{ 'BCC'|translate }}</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="email.bcc" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-1 control-label">{{ 'SUBJECT'|translate }}</label>
        <div class="col-xs-8">
          <input type="text" class="form-control" ng-model="email.subject" required />
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-8 col-xs-offset-1">
          <text-angular ng-model="email.content" required></text-angular>
        </div>
      </div>

      <!-- <hr />
      <div class="form-group">
        <label class="col-xs-1 control-label">{{ 'ATTACHMENT'|translate }}</label>
        <div class="col-xs-8">
          <p class="form-control-static">{{ email.attachment.no }}</p>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-8 col-xs-offset-1">
          <hr />
          <button class="btn btn-success" ng-click="emailForm.$valid && send()">{{ 'SEND'|translate }}</button>
          <button class="btn btn-default" ng-click="cancel()">{{ 'CANCEL'|translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
