<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-3 col-md-offset-2 hidden-xs" ng-hide="isLoading">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/estimate/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'ESTIMATE'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'SENT_TO'|translate }}</th>
            <th style="text-align: right;">{{ 'ESTIMATE_PRICE'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="item in estimates" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === estimate.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>
              {{ item.sentTo.displayName || item.sentToName }}
              <br />
              <span style="color: #AAA;">{{ item.no }} | {{ item.createdAt|date:'yyyy년 MM월 dd일' }}</span>
            </td>
            <td ng-switch="item.status" style="text-align: right;">
              {{ item.summary.price || item.price|krCurrency }}
              <br />
              <span ng-switch-when="DRAFT" class="label label-default">{{ 'DRAFT'|translate }}</span>
              <span ng-switch-when="SENT" class="label label-warning">{{ 'SENT'|translate }}</span>
              <span ng-switch-when="APPROVED" class="label label-success">{{ 'APPROVED'|translate }}</span>
              <span ng-switch-when="CANCELLED" class="label label-danger">{{ 'CANCELLED'|translate }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>

  <div class="col-md-7 estimate-preview">
    <div style="margin-top: 20px;">
      <a class="btn btn-info btn-side" ng-href="/estimate/email/{{ estimate.id }}"><i class="fa fa-envelope"></i></a>
      <div class="btn-group btn-side">
        <a class="btn btn-default btn-white" target="_blank" ng-href="/estimate/{{ estimate.id }}"><i class="fa fa-eye"></i></a>
        <!-- <button class="btn btn-default btn-white" ng-click="print()"><i class="fa fa-file-pdf-o"></i></button> -->
        <a ng-href="/estimate/editor/{{ estimate.id }}" class="btn btn-default btn-white"><i class="fa fa-pencil"></i></a>
        <button class="btn btn-default btn-white" ng-click="deleteEstimate(estimate.id)" ><i class="fa fa-trash"></i></button>
      </div>
      <button class="btn btn-primary btn-side" ng-click="convertToInvoice(estimate)" ng-hide="isEditing">{{ 'CONVERT_TO_INVOICE'|translate }}</button>
      <a ng-href="/estimate" class="pull-right"><i class="fa fa-2x fa-close"></i></a>
    </div>

    <div class="ribbon left_ribbon">
      <span>{{ estimate.status|translate }}</span>
    </div>

    <div ng-include src="'views/estimate-template.html'"></div>
  </div>
</div>
