<div class="btn-group">
  <button class="btn btn-default" ng-repeat="wage in standardWages" ng-click="addWageInExpenses(wage)">{{ wage.rate }}</button>
</div>

<div class="btn-group">
  <button class="btn btn-primary" ng-repeat="type in defaultTypes" ng-click="addTypeInDirectExpense(type)">{{ type }}</button>
</div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th colspan="8"><h3>직접인건비</h3></th>
      </tr>
      <tr class="active">
        <th style="min-width: 200px;">구분</th>
        <th style="min-width: 100px;">전문인력 등급</th>
        <th style="width: 100px;">인원수</th>
        <th style="width: 100px;">지원기간</th>
        <th style="min-width: 100px;">1일 노임단가</th>
        <th style="min-width: 100px;">월 노임단가</th>
        <th style="width: 100px;">참여율</th>
        <th style="min-width: 150px;">비용</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat-start="expense in estimate.expenses.direct">
        <td rowspan="{{ expense.data.length }}">
          <input type="text" class="form-control input-sm" ng-model="expense.type">
        </td>
        <td>
          <!-- <input class="form-control input-sm" type="text" ng-model="expense.data[0].rate"> -->
          <input class="form-control input-sm" name="type" type="text" ng-model="expense.data[0].rate" placeholder="{{ '특급 기술자'|translate }}" typeahead="wage.rate as wage.rate for wage in standardWages" typeahead-on-select="selectWage(expense, expense.data[0], $item)" typeahead-loading="{{ 'LOADING_CUSTOMERS'|translate }}" />
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" type="number" ng-model="expense.data[0].number">
            <span class="input-group-addon input-sm">명</span>
          </div>
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" type="number" ng-model="expense.data[0].support">
            <span class="input-group-addon input-sm">일</span>
          </div>
        </td>
        <td>
          {{ expense.data[0].daily|krCurrency }}
        </td>
        <td>
          {{ expense.data[0].monthly|krCurrency }}
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" format="number" ng-model="expense.data[0].participation">
            <span class="input-group-addon input-sm">%</span>
          </div>
        </td>
        <td>{{ expense.data[0].daily * expense.data[0].number * expense.data[0].support * expense.data[0].participation/100|krCurrency }}</td>
        <td><button class="btn btn-xs btn-danger" ng-click="deleteData(expense, 0)">삭제</button></td>
      </tr>

      <tr ng-repeat-end ng-repeat-start="datum in expense.data" ng-if="$index !== 0">
        <td>
          <!-- <input class="form-control input-sm" type="text" ng-model="datum.rate"> -->
          <input class="form-control input-sm" name="type" type="text" ng-model="datum.rate" placeholder="{{ '특급 기술자'|translate }}" typeahead="wage.rate as wage.rate for wage in standardWages" typeahead-on-select="selectWage($parent.expense, datum, $item)" typeahead-loading="{{ 'LOADING_WAGE'|translate }}" />
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" type="number" ng-model="datum.number">
            <span class="input-group-addon input-sm">명</span>
          </div>
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" type="number" ng-model="datum.support">
            <span class="input-group-addon input-sm">일</span>
          </div>
        </td>
        <td>
          {{ datum.daily|krCurrency }}
        </td>
        <td>
          {{ datum.monthly|krCurrency }}
        </td>
        <td>
          <div class="input-group">
            <input class="form-control input-sm" format="number" ng-model="datum.participation">
            <span class="input-group-addon input-sm">%</span>
          </div>
        </td>
        <td>{{ datum.daily * datum.number * datum.support * datum.participation/100|krCurrency }}</td>
        <td><button class="btn btn-danger btn-xs" ng-click="deleteData($parent.expense, $index)">삭제</button></td>
        <td></td>
      </tr>
      <tr class="tr-bordered" ng-repeat-end>
        <td></td>
        <td colspan="8"><button class="btn btn-sm btn-block btn-default" ng-click="addData($index);">{{ expense.type }} 항목에 추가하기</button></td>
      </tr>

      <tr>
        <td>
          <input type="text" class="form-control input-sm" ng-model="title" placeholder="항목명">
        </td>
        <td colspan="8"><button class="btn btn-sm btn-block btn-info" ng-click="addDirectExpense(title);">직접인건비에 {{ title }} 항목 추가하기</button></td>
      </tr>

      <tr class="subtotal">
        <td>{{ '직접인건비'|translate }} {{ 'TOTAL'|translate }}</td>
        <td>투입인력(명)</td>
        <td>{{ Calculator.totalDirectNumber(estimate.expenses.direct) }}명</td>
        <td>{{ Calculator.totalDirectSupport(estimate.expenses.direct) }}일</td>
        <td colspan="3"></td>
        <td>{{ Calculator.totalDirectExpense(estimate.expenses.direct)|krCurrency }}</td>
        <td></td>
      </tr>
    </tbody>

    <thead>
      <tr>
        <th colspan="8"><h3>간접비</h3></th>
      </tr>
      <tr class="active">
        <th>내용</th>
        <th colspan="5">산출근거</th>
        <th>비율</th>
        <th>비용</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="expense in estimate.expenses.indirect">
        <td>
          <input type="text" class="form-control input-sm" ng-model="expense.type">
        </td>
        <td colspan="5">
          <input type="text" class="form-control input-sm" ng-model="expense.basis">
        </td>
        <td ng-switch="expense.mode">
          <div class="input-group" ng-switch-when="RATIO">
            <input class="form-control input-sm" format="number" ng-model="expense.ratio">
            <span class="input-group-addon input-sm">%</span>
          </div>
          <span ng-switch-when="AMOUNT">
            -
          </span>
        </td>
        <td ng-switch="expense.mode">
          <div class="input-group" ng-switch-when="AMOUNT">
            <input class="form-control input-sm" format="number" ng-model="expense.amount">
            <span class="input-group-addon input-sm">원</span>
          </div>
          <span ng-switch-when="RATIO">
            {{ Calculator.indirectSubtotal($parent.estimate, expense)|krCurrency }}
          </span>
        </td>
        <td><button class="btn btn-xs btn-danger" ng-click="deleteIndirect($index)">삭제</button></td>
      </tr>
      <tr>
        <td>
          <select class="form-control input-sm" ng-model="mode" ng-init="mode='RATIO'">
            <option value="RATIO">{{ 'RATIO'|translate }}</option>
            <option value="AMOUNT">{{ 'AMOUNT'|translate }}</option>
          </select>
        </td>
        <td colspan="8"><button class="btn btn-sm btn-block btn-info" ng-click="addIndirectExpense(mode);">간접비 항목 추가하기</button></td>
      </tr>

      <tr class="subtotal">
        <td>{{ '간접인건비'|translate }} {{ 'TOTAL'|translate }}</td>
        <td colspan="6"></td>
        <td>{{ Calculator.totalIndirectExpense(estimate)|krCurrency }}</td>
        <td></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="8"><h3>합계</h3></th>
      </tr>

      <tr class="total">
        <td colspan="7">{{ '직접인건비'|translate }} + {{ '간접인건비'|translate }} </td>
        <td>{{ Calculator.totalExpenses(estimate)|krCurrency }}</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
