<table class="table table-responsive">
  <thead>
    <tr class="active">
      <th style="min-width: 300px;">제품명</th>
      <th>단가</th>
      <th>수량</th>
      <th>세금</th>
      <th style="min-width: 150px;">공급가</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="estimateItem in estimate.products">
      <ng-form name="itemForm">
        <td style="display: block; position: relative">
          <input type="text" name="name" ng-model="estimateItem.name" placeholder="{{ 'TYPE_OR_SELECT_PRODUCT'|translate }}" typeahead="product.name as product.name for product in products" typeahead-on-select="selectedProduct($item, $index)" typeahead-loading="{{ 'LOADING_PRODUCTS'|translate }}" class="form-control typeahead" ng-disabled="estimateItem.id" style="margin-bottom: 5px;" ng-required="$parent.estimate.type === 'PRODUCT'" />
          <textarea ng-model="estimateItem.description" class="form-control" placeholder="{{ 'ENTER_PRODUCT_DESCRIPTION'|translate }}"></textarea>
          <button class="btn btn-xs btn-danger overlay" ng-show="estimateItem.id" ng-click="clearItem($index)"><i class="fa fa-fw fa-close"></i></button>
        </td>
        <td>
          <div class="input-group" ng-class="{ 'has-error': itemForm.price.$invalid }">
            <input ng-model="estimateItem.price" name="price" format="number" class="form-control" ng-required="$parent.estimate.type === 'PRODUCT'">
            <span class="input-group-addon">원</span>
          </div>
        </td>
        <td>
          <div class="input-group" ng-class="{ 'has-error': itemForm.quantity.$invalid }">
            <input ng-model="estimateItem.quantity" name="quantity" type="number" class="form-control" ng-required="$parent.estimate.type === 'PRODUCT'">
            <span class="input-group-addon">{{ estimateItem.unit || '개' }}</span>
          </div>
        </td>
        <td>
          <div class="input-group">
            <input ng-model="estimateItem.tax" type="number" class="form-control">
            <span class="input-group-addon">%</span>
          </div>
        </td>
        <td>
          <span class="form-control-static">
            {{ estimateItem.tax ? estimateItem.price * estimateItem.quantity * (1+estimateItem.tax/100) : estimateItem.price * estimateItem.quantity || 0 |krCurrency }}
          </span>
        </td>
        <td>
          <button class="btn btn-md btn-danger" ng-click="deleteProduct($index)">{{ 'DELETE'|translate }}</button>
        </td>
      </ng-form>
    </tr>
  </tbody>
</table>

<button class="btn btn-lg btn-block btn-success" ng-click="addProduct()">항목 추가</button>
