<div class="panel panel-default panel-estimate" style="margin-top: 20px;" id="preview">
  <div class="expired" ng-show="isExpired()">
    <span style="font-size: 3em">
      <i class="fa fa-4x fa-ban"></i><br />
      <strong>{{ 'EXPIRED'|translate }}</strong>
    </span><br />
    <span style="font-size: 2em">
      만료된 견적서 입니다
    </span>
  </div>

  <div class="row">
    <div class="col-xs-4">
      <h1 style="font-weight: bold;">{{ estimate.createdBy.company.name }}</h1>
      <p>
        {{ estimate.createdBy.company.address[0] }}<br />
        {{ estimate.createdBy.company.address[1] }}<br />
        {{ estimate.createdBy.company.address[2] }}<br />
        <strong>{{ estimate.salesPerson }}</strong>
      </p>
    </div>
    <div class="col-xs-8">
      <h1 class="pull-right">
        <span style="font-size: 1.5em;">{{ 'ESTIMATE'|translate }}</span><br />
        <span class="pull-right" style="font-size: 0.5em">#{{ estimate.no }}</span>
      </h1>
      <table class="table" ng-hide="true">
        <tr>
          <th>사업자번호</th>
          <td>{{ estimate.createdBy.company.businessId }}</td>
          <th>대표자</th>
          <td>{{ estimate.createdBy.company.chairman }}</td>
        </tr>
        <tr>
          <th>업태</th>
          <td>{{ estimate.createdBy.company.businessType }}</td>
          <th>종목</th>
          <td>{{ estimate.createdBy.company.businessCategory }}</td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>{{ estimate.createdBy.company.phone }}</td>
          <th>이메일</th>
          <td>{{ estimate.createdBy.company.email }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-xs-4">
      <p>
        <strong>{{ estimate.sentTo.name || estimate.sentToName }}</strong><br />
        {{ 'BILL_TO'|translate }}
      </p>
    </div>
    <div class="col-xs-8">
      <p class="pull-right">
        <br />
        <em>{{ 'ESTIMATE_DATE'|translate }} {{ estimate.createdAt|date:'yyyy년 MM월 dd일' }}</em>
      </p>
    </div>
  </div>

  <div class="table-responsive" ng-switch="estimate.type">
    <!-- TABLE PRODUCT -->
    <table class="table table-striped" ng-switch-when="PRODUCT">
      <thead>
        <tr class="estimate-tr">
          <th width="25px">#</th>
          <th>품명</th>
          <th width="150px" style="text-align: right;">단가</th>
          <th width="50px" style="text-align: right;">수량</th>
          <th width="150px" style="text-align: right;">공급가</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="product in estimate.products">
          <td>{{ $index + 1 }}</td>
          <td>{{ product.name }}</td>
          <td style="text-align: right;">
            {{ ( product.tax ) ? product.price*(1+product.tax/100) : product.price|krCurrency }}
            {{ ( product.tax ) ? '(+' + product.tax + '%' + ' TAX)' : '' }}
          </td>
          <td style="text-align: right;">{{ product.quantity }}</td>
          <td style="text-align: right;">{{ product.cost|krCurrency }}</td>
        </tr>
      </tbody>
      <tfoot style="text-align: right;">
        <tr>
          <td colspan="2"></td>
          <td colspan="2">{{ 'SUB_TOTAL'|translate }}</td>
          <td>{{ estimate.summary.subTotal|krCurrency }}</td>
        </tr>
        <tr ng-show="estimate.shipping">
          <td colspan="2"></td>
          <td colspan="2">{{ 'SHIPPING'|translate }}</td>
          <td>{{ estimate.shipping|krCurrency }}</td>
        </tr>
        <tr ng-show="estimate.discount">
          <td colspan="2"></td>
          <td colspan="2">{{ 'DISCOUNT'|translate }} ({{ estimate.discount }}%)</td>
          <td class="text-danger">
            {{ -(estimate.discount/100)*estimate.summary.subTotal|krCurrency }}
          </td>
        </tr>
        <tr ng-show="estimate.adjustment">
          <td colspan="2"></td>
          <td colspan="2">{{ 'ADJUSTMENT'|translate }}</td>
          <td class="text-danger">
             {{ -estimate.adjustment|krCurrency }}
           </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <th colspan="2" class="estimate-total">{{ 'TOTAL'|translate }}</th>
          <th class="estimate-total" colspan="1">
            <span>{{ estimate.summary.total|krCurrency }}</span>
          </th>
        </tr>
      </tfoot>
    </table>
    <!-- TABLE PRODUCT -->

    <!-- TABLE DEVELOPMENT -->
    <table class="table table-striped" ng-switch-when="DEVELOPMENT">
      <thead>
        <tr class="estimate-tr">
          <th style="min-width: 200px;">{{ 'DIRECT_EXPENSE'|translate }}</th>
          <th style="min-width: 100px;">전문인력 등급</th>
          <th style="width: 100px;">인원수</th>
          <th style="width: 100px;">지원기간</th>
          <th style="min-width: 100px;">1일 노임단가</th>
          <th style="min-width: 100px;">월 노임단가</th>
          <th style="width: 100px;">참여율</th>
          <th style="min-width: 150px;">비용</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat-start="expense in estimate.expenses.direct">
          <td rowspan="{{ expense.data.length }}">{{ expense.type }}</td>
          <td>{{ expense.data[0].rate }}</td>
          <td>{{ expense.data[0].number }}명</td>
          <td>{{ expense.data[0].support }}일</td>
          <td>{{ expense.data[0].daily|krCurrency }}</td>
          <td>{{ expense.data[0].monthly|krCurrency }}</td>
          <td>{{ expense.data[0].participation }}%</td>
          <td>{{ expense.data[0].cost|krCurrency }}</td>
        </tr>
        <tr ng-repeat-end ng-repeat="datum in expense.data" ng-if="$index !== 0">
          <td>{{ datum.rate }}</td>
          <td>{{ datum.number }}명</td>
          <td>{{ datum.support }}일</td>
          <td>{{ datum.daily|krCurrency }}</td>
          <td>{{ datum.monthly|krCurrency }}</td>
          <td>{{ datum.participation }}%</td>
          <td>{{ datum.cost|krCurrency }}</td>
        </tr>
        <tr class="success">
          <td>{{ 'DIRECT_EXPENSE'|translate }} {{ 'TOTAL'|translate }}</td>
          <td>투입인력(명)</td>
          <td>{{ estimate.summary.number }}명</td>
          <td>{{ estimate.summary.support }}일</td>
          <td colspan="3"></td>
          <td>{{ estimate.summary.direct|krCurrency }}</td>
        </tr>
      </tbody>

      <tr><td colspan="8"></td></tr>

      <thead>
        <tr class="estimate-tr">
          <th>{{ 'INDIRECT_EXPENSE'|translate }}</th>
          <th colspan="5">산출근거</th>
          <th>비율</th>
          <th>비용</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="expense in estimate.expenses.indirect">
          <td>{{ expense.type }}</td>
          <td colspan="5">{{ expense.basis }}</td>
          <td ng-switch="expense.mode">
            <span ng-switch-when="RATIO">{{ expense.ratio }}%</span>
            <span ng-switch-when="AMOUNT">-</span>
          </td>
          <td ng-switch="expense.mode">
            <span ng-switch-when="AMOUNT">{{ expense.amount|krCurrency }}</span>
            <span ng-switch-when="RATIO">{{ expense.cost|krCurrency }}</span>
          </td>
        </tr>
        <tr class="success">
          <td>{{ 'INDIRECT_EXPENSE'|translate }} {{ 'TOTAL'|translate }}</td>
          <td colspan="6"></td>
          <td>{{ estimate.summary.indirect|krCurrency }}</td>
        </tr>
      </tbody>

      <tfoot style="text-align: right;">
        <tr><th colspan="8" class="text-right"><h3>합계</h3></th></tr>
        <tr>
          <td colspan="6"></td>
          <td>{{ 'SUB_TOTAL'|translate }}</td>
          <td>{{ estimate.summary.subTotal|krCurrency }}</td>
        </tr>
        <tr ng-show="estimate.shipping">
          <td colspan="6"></td>
          <td>{{ 'SHIPPING'|translate }}</td>
          <td>{{ estimate.shipping|krCurrency }}</td>
        </tr>
        <tr ng-show="estimate.discount">
          <td colspan="6"></td>
          <td>{{ 'DISCOUNT'|translate }} ({{ estimate.discount }}%)</td>
          <td class="text-danger">
            {{ -(estimate.discount/100)*estimate.summary.subTotal|krCurrency }}
          </td>
        </tr>
        <tr ng-show="estimate.adjustment">
          <td colspan="6"></td>
          <td>{{ 'ADJUSTMENT'|translate }}</td>
          <td class="text-danger">
             {{ -estimate.adjustment|krCurrency }}
           </td>
        </tr>

        <tr>
          <td colspan="6"></td>
          <td>{{ 'TOTAL'|translate }}</td>
          <td>{{ estimate.summary.total|krCurrency }}</td>
        </tr>
        <tr>
          <td colspan="6"></td>
          <td>{{ 'VAT'|translate }}</td>
          <td>{{ estimate.summary.vat|krCurrency }}</td>
        </tr>

        <tr>
          <td colspan="6"></td>
          <th class="estimate-total">{{ 'FINAL_PRICE'|translate }}</th>
          <th class="estimate-total" colspan="1">
            <span>
              {{ estimate.summary.price|krCurrency }}
            </span>
          </th>
        </tr>
      </tfoot>
    </table>
    <!-- TABLE DEVELOPMENT -->
  </div>

  <div style="margin-top: 50px;">
    <div ng-show="estimate.memo">
      <h5><strong>{{ 'CUSTOMER_NOTES'|translate }}</strong></h5>
      <p>
        {{ estimate.memo }}
      </p>
      <br />
    </div>

    <div ng-show="estimate.agreement">
      <h5><strong>{{ 'TERMS_AND_CONDITIONS'|translate }}</strong></h5>
      <p>
        {{ estimate.agreement }}
      </p>
    </div>

    <div ng-show="estimate.expiredAt">
      <span class="pull-right">
        <em>본 견적서는 {{ estimate.expiredAt|date:'yyyy년 MM월 dd일' }}까지 유효합니다.</em>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
