<div class="row" ng-init="navless = true;">
  <div class="col-xs-12" style="width: 1024px; margin: 20px;">
    <div ng-include src="'views/estimate-template.html'"></div>

    <div class="hidden-print" id="buttons" style="padding-top: 10px;" ng-hide="isExpired()">
      <p class="pull-right">
        <button class="btn btn-lg btn-side btn-success pull-right" ng-click="changeStatus('APPROVED')" ng-hide="estimate.status === 'APPROVED'">{{ 'APPROVE'|translate }}</button>
        <button class="btn btn-lg btn-side btn-warning pull-right" ng-click="changeStatus('CANCELLED')" ng-hide="estimate.status === 'CANCELLED'">{{ 'CANCEL'|translate }}</button>
        <button class="btn btn-lg btn-side btn-default pull-right" onclick="window.print()" >인쇄하기</button>
      </p>
    </div>
  </div>
</div>
