<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>
  <loading-indicator></loading-indicator>

  <div class="col-md-10 col-md-offset-2" ng-hide="isLoading">
    <div class="target-estimate" ng-show="target && Calculator.calculateTarget(target, estimate) !== 0">목표 금액과의 차이: {{ Calculator.calculateTarget(target, estimate)|krCurrency }}</div>
    <div class="target-estimate target-equal" ng-show="target && Calculator.calculateTarget(target, estimate) === 0">목표 금액과 일치합니다</div>
    <h3>{{ 'ESTIMATE_EDITOR'|translate }} <span class="label label-info pull-right" ng-show="estimate.id">{{ estimate.id }}</span></h3>
    <hr />

    <!-- TARGET CUSTOMER -->
    <form name="estimateForm" class="form-horizontal" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': estimateForm.sentTo.$invalid }">
            <label class="col-md-3 control-label">{{ 'CUSTOMER'|translate }} {{ 'NAME'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" name="sentTo" type="text" ng-model="estimate.sentTo" placeholder="{{ 'TYPE_OR_SELECT_CUSTOMER'|translate }}" typeahead="customer.name as customer.name for customer in customers" typeahead-on-select="selectedCustomer($item)" typeahead-loading="{{ 'LOADING_CUSTOMERS'|translate }}" required />
            </div>
            <p class="col-md-9 col-md-offset-3 help-block" ng-show="estimate.sentTo.email || estimate.sentTo.company.name ">
              {{ estimate.sentTo.email }} | {{ estimate.sentTo.company.name }}
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-error': estimateForm.no.$invalid }">
            <label class="col-md-3 control-label">{{ 'ESTIMATE_NO'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" name="no" type="text" ng-model="estimate.no" disabled required />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': estimateForm.createdAt.$invalid }">
            <label class="col-md-3 control-label">{{ 'ESTIMATE_DATE'|translate }}</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" class="form-control" name="createdAt" datepicker-popup="yyyy-MM-dd" ng-model="estimate.createdAt" is-open="opened[0]" min-date="minDate" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd" required />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'EXPIRY_DATE'|translate }}</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="estimate.expiredAt" is-open="opened[1]" min-date="estimate.createdAt" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'SALES_PERSON'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="estimate.salesPerson" placeholder="{{ 'TYPE_OR_SELECT_SALESPERSON'|translate }}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'ESTIMATE_BASE'|translate }}</label>
            <div class="col-md-9">
              <select class="form-control" name="" id="" ng-model="estimate.type">
                <option value="PRODUCT">{{ 'PRODUCT_BASE'|translate }}</option>
                <option value="DEVELOPMENT">{{ 'DEVELOPMENT_BASE'|translate }}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'TARGET_ESTIMATE'|translate }}</label>
            <div class="col-md-9">
              <div class="input-group">
                <input class="form-control" format="number" ng-model="target">
                <span class="input-group-addon">원</span>
              </div>
            </div>
          </div>
          <p class="help-block text-right">목표 견적 금액을 입력하면 절사에 필요한 금액을 알려드립니다.</p>
        </div>
      </div>
      <hr />
      <!-- TARGET CUSTOMER -->

      <div ng-include="'views/estimate-editor-development.html'" ng-show="estimate.type === 'DEVELOPMENT'"></div>

      <div ng-include="'views/estimate-editor-product.html'" ng-show="estimate.type === 'PRODUCT'"></div>

      <!-- PRICE MODIFIER -->
      <div class="row row-arranged">
        <div class="col-md-6 col-md-offset-6">
          <section class="panel panel-info">
            <div class="panel-heading">
              <strong>{{ 'ESTIMATE_SUMMARY'|translate }}</strong>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'INCLUDE_VAT'|translate }}</label>
                <div class="col-md-5">
                  <input type="checkbox" class="form-control" ng-model="estimate.vatIncluded">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'SUB_TOTAL'|translate }}</label>
                <div class="col-md-5 col-md-offset-5">
                  <p class="form-control-static">{{ Calculator.subTotal(estimate)|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'DISCOUNT'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="estimate.discount">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static">{{ estimate.discount/100 * Calculator.subTotal(estimate)|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group" ng-show="estimate.type === 'PRODUCT'">
                <label class="col-md-2 control-label">{{ 'SHIPPING'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input format="number" class="form-control" ng-model="estimate.shipping">
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static">{{ estimate.shipping|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'ADJUSTMENT'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input format="number" class="form-control" ng-model="estimate.adjustment">
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static text-danger">{{ estimate.adjustment|krCurrency }}</p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <strong>
                <div class="form-group">
                  <label class="col-md-2 control-label">{{ 'TOTAL'|translate }}</label>
                  <label class="col-md-3 control-label">
                    <span class="pull-left" ng-hide="estimate.vatIncluded">(VAT 별도)</span>
                    <span class="pull-left" ng-show="estimate.vatIncluded">(VAT 포함)</span>
                  </label>
                  <div class="col-md-5 col-md-offset-2">
                    <p class="form-control-static">{{ Calculator.total(estimate)|krCurrency }}</p>
                  </div>
                </div>
            </strong>
            </div>
          </section>
        </div>
      </div>
      <!-- PRICE MODIFIER -->

      <!-- ADDITIONAL DATA -->
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'CUSTOMER_NOTES'|translate }}</label>
        <div class="col-md-9">
          <textarea class="form-control" ng-model="estimate.memo"></textarea>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'TERMS_AND_CONDITIONS'|translate }}</label>
        <div class="col-md-9">
          <textarea class="form-control" ng-model="estimate.agreement"></textarea>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'EMAIL_TO'|translate }}</label>
        <div class="col-md-9" ng-show="estimate.emails.length > 0">
          <p class="form-control-static">
            <span ng-repeat="email in estimate.emails" style="margin: 5px;" class="badge">{{ email }}</span>
          </p>
        </div>
        <div ng-class="{ 'col-md-offset-3': estimate.emails.length !== 0 }" class="col-md-9">
          <div class="row row-arranged">
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="emailAddress">
            </div>
            <div class="col-md-2">
              <button class="btn btn-block btn-info" ng-click="addEmail(emailAddress)">추가</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'ATTACHMENT'|translate }}</label>
        <div class="col-md-9">
          <div class="row row-arranged">
            <div class="col-md-4">
              <input type="file" ng-model="estimate.attachment">
            </div>
            <div class="col-md-2">
              <button class="btn btn-block btn-info" ng-click="alert('준비중입니다.');">업로드</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <!-- <div class="form-group">
        <label class="col-md-3 control-label">{{ 'TEMPLATE'|translate }}</label>
        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="estimate.email"> 이메일
            </label>
          </div>
        </div>
      </div>
      <hr /> -->
      <!-- ADDITIONAL DATA -->

      <button ng-class="{ 'disabled': estimateForm.$invalid }" class="btn btn-lg btn-primary" ng-click="estimateForm.$valid && saveEstimate(estimate)" ng-hide="isEditing">{{ 'SAVE'|translate }}</button>
      <button ng-class="{ 'disabled': estimateForm.$invalid }" class="btn btn-lg btn-warning" ng-click="estimateForm.$valid && saveEstimate(estimate, true)" ng-hide="isEditing">{{ 'SAVE_AND_SEND'|translate }}</button>
      <a ng-hide="estimate.id" class="btn btn-lg btn-default" ng-href="/estimate">{{ 'CANCEL'|translate }}</a>
      <a ng-show="estimate.id" class="btn btn-lg btn-default" ng-href="/estimate/view/{{ estimate.id }}">{{ 'CANCEL'|translate }}</a>
    </form>
  </div>
</div>
