<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <loading-indicator></loading-indicator>

  <div class="col-md-10 col-md-offset-2" ng-hide="isLoading">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/estimate/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'ESTIMATE'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'ESTIMATE_NO'|translate }}</th>
            <th width="120px;">{{ 'ESTIMATE_DATE'|translate }}</th>
            <th width="120px;">{{ 'EXPIRY_DATE'|translate }}</th>
            <th>{{ 'SALES_PERSON'|translate }}</th>
            <th>{{ 'SENT_TO'|translate }}</th>
            <th>{{ 'ITEMS'|translate }}</th>
            <th>{{ 'ESTIMATE_PRICE'|translate }}</th>
            <th>{{ 'VAT'|translate }}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="estimate in estimates" ng-click="goTo(estimate.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(estimate.id)" ng-click="updateSelection($event, estimate.id); $event.stopPropagation();"></td>
            <td>{{ estimate.no }}</td>
            <td>{{ estimate.createdAt|date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ estimate.expiredAt||'-' |date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ estimate.salesPerson || estimate.createdBy.name || '-' }}</td>
            <td>
              {{ estimate.sentTo.displayName || estimate.sentToName }}
              <span popover="{{ estimate.emails }}" popover-trigger="mouseenter" class="label label-info">{{ '@'|translate }}</span>
            </td>
            <td>{{ estimate.products.length }} {{ '종'|translate }}</td>
            <td>
              {{ estimate.summary.price || estimate.price|krCurrency }}
            </td>
            <td>
              <span ng-show="estimate.vatIncluded">{{ 'INCLUDE_VAT'|translate }}</span>
            </td>
            <td ng-switch="estimate.status">
              <span ng-switch-when="DRAFT" class="label label-default">{{ 'DRAFT'|translate }}</span>
              <span ng-switch-when="SENT" class="label label-warning">{{ 'SENT'|translate }}</span>
              <span ng-switch-when="APPROVED" class="label label-success">{{ 'APPROVED'|translate }}</span>
              <span ng-switch-when="CANCELLED" class="label label-danger">{{ 'CANCELLED'|translate }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-click="pageChanged()"></pagination>
    </nav>
    <!-- {{ selected }} -->
  </div>
</div>
