<!-- FOOTER -->
<div class="site-footer" style="border-top: 1px solid lightgrey;">
  <div class="row">
    <div class="col-md-4">
      <h3>About Us</h3>
      <p>4work is hosted on <a ng-href="https://github.com/colus001/4work" target="_blank" rel="external nofollow">GitHub</a> and open for everyone to contribute. Please give us some feedback and join the development!</p>
    </div>
    <div class="col-md-4">
      <h3>Contact Us</h3>
      <p>You want to help us and participate in the development or the documentation? Just fork 4work on <a ng-href="https://github.com/colus001/4work" target="_blank" rel="external nofollow">GitHub</a> and send us a pull request.</p>
    </div>
    <div class="col-md-4">
      <h3>Talk to us</h3>
      <ul class="talk-to-us">
        <li>Tweet us at <a ng-href="https://twitter.com/flit.kr" target="_blank">@flit</a>&nbsp;&nbsp;&nbsp;&nbsp;Email us at <a ng-href="mailto:colus001@me.com">colus001@me.com</a></li>
        <!-- <li>
          <a title="Facebook" ng-href="https://www.facebook.com/flit" target="_blank" rel="external nofollow"><i class="fa fa-3x fa-facebook-square"></i></a>&nbsp;
          <a title="Twitter" ng-href="https://twitter.com/flit" target="_blank" rel="external nofollow"><i class="fa fa-3x fa-twitter-square"></i></a>&nbsp;
        </li> -->
      </ul>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <p><b>4 Work</b></p>
      <p>© 2014 <a ng-href="http://flit.kr" target="_blank">FLIT</a> All rights reserved.</p>
    </div>
  </div>
</div><!-- FOOTER -->