<div class="row">
  <sidebar-template></sidebar-template>

  <loading-indicator></loading-indicator>

  <div class="col-md-10 col-md-offset-2" ng-hide="isLoading">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/estimate/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'INVENTORY_MANAGER'|translate }}</h3>
    </div>

	<p>This is the inventory view.</p>
  </div>
</div>
