<div class="panel panel-default panel-invoice" style="margin-top: 50px;">
  <div class="row">
    <div class="col-xs-4">
      <h1 style="font-weight: bold;">{{ invoice.createdBy.company.name }}</h1>
      <p>
        {{ invoice.createdBy.company.address[0] }}<br />
        {{ invoice.createdBy.company.address[1] }}<br />
        {{ invoice.createdBy.company.address[2] }}<br />
        <strong>{{ invoice.salesPerson }}</strong>
      </p>
    </div>
    <div class="col-xs-8">
      <h1 class="pull-right">
        <span style="font-size: 1.5em;">INVOICE</span><br />
        <span class="pull-right" style="font-size: 0.5em">#{{ invoice.no }}</span>
      </h1>
      <table class="table" ng-hide="true">
        <tr>
          <th>사업자번호</th>
          <td>{{ company.businessId }}</td>
          <th>대표자</th>
          <td>{{ company.chairman }}</td>
        </tr>
        <tr>
          <th>업태</th>
          <td>{{ company.businessType }}</td>
          <th>종목</th>
          <td>{{ company.businessCategory }}</td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>{{ company.phone }}</td>
          <th>이메일</th>
          <td>{{ company.email }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-xs-4">
      <p>
        Bill To<br />
        <strong>{{ invoice.sentTo.name || invoice.sentToName }}</strong>
      </p>
    </div>
    <div class="col-xs-8">
      <p class="pull-right">
        <br />
        <em>{{ 'INVOICE_DATE'|translate }} {{ invoice.createdAt|date:'yyyy년 MM월 dd일' }}</em>
      </p>
    </div>
  </div>

  <table class="table table-striped table-hover">
    <thead>
      <tr style="background-color: #333; color: white;">
        <th width="25px">#</th>
        <th>품명</th>
        <th width="150px" style="text-align: right;">단가</th>
        <th width="50px" style="text-align: right;">수량</th>
        <th width="150px" style="text-align: right;">공급가</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in invoice.products">
        <td>{{ $index + 1 }}</td>
        <td>{{ product.name }}</td>
        <td style="text-align: right;">{{  ( product.tax ) ? product.price*(1+product.tax/100) : product.price|krCurrency }} {{ ( product.tax ) ? '(+' + product.tax + '%' + ' TAX)' : '' }}</td>
        <td style="text-align: right;">{{ product.quantity }}</td>
        <td style="text-align: right;">{{ ( product.tax ) ? product.price * (1+product.tax/100) * product.quantity : product.price * product.quantity|krCurrency }}</td>
      </tr>
    </tbody>
    <tfoot style="text-align: right;">
      <tr>
        <td colspan="2"></td>
        <td colspan="2">{{ 'SUB_TOTAL'|translate }}</td>
        <td>{{ getSubTotal()|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.discount">
        <td colspan="2"></td>
        <td colspan="2">{{ 'DISCOUNT'|translate }} ({{ invoice.discount }}%)</td>
        <td>{{ -(invoice.discount/100)*getSubTotal()|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.shipping">
        <td colspan="2"></td>
        <td colspan="2">{{ 'SHIPPING'|translate }}</td>
        <td>{{ invoice.shipping|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.adjustment">
        <td colspan="2"></td>
        <td colspan="2">{{ 'ADJUSTMENT'|translate }}</td>
        <td>
           {{ invoice.adjustment|krCurrency }}
         </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <th colspan="2" style="background-color: #F2F1F0; text-align: right;">{{ 'TOTAL'|translate }}</th>
        <th style="background-color: #F2F1F0; text-align: right;" colspan="1">
          <span>{{ invoice.price|krCurrency }}</span>
          <span class="label label-info pull-right" ng-show="invoice.isTaxIncluded">부가세 포함</span>
        </th>
      </tr>
    </tfoot>
  </table>

  <div style="margin-top: 50px;">
    <div ng-show="invoice.memo">
      <h5><strong>{{ 'CUSTOMER_NOTES'|translate }}</strong></h5>
      <p>
        {{ invoice.memo }}
      </p>
      <br />
    </div>

    <div ng-show="invoice.agreement">
      <h5><strong>{{ 'TERMS_AND_CONDITIONS'|translate }}</strong></h5>
      <p>
        {{ invoice.agreement }}
      </p>
    </div>
  </div>
</div>

<!--
<div class="panel panel-default panel-invoice" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-weight: bold;">{{ invoice.createdBy.company.name }}</h1>
      <p>
        {{ invoice.createdBy.company.address[0] }}<br />
        {{ invoice.createdBy.company.address[1] }}<br />
        {{ invoice.createdBy.company.address[2] }}<br />
        <strong>{{ invoice.salesPerson }}</strong>
      </p>
    </div>
    <div class="col-md-8">
      <h1 class="pull-right">
        <span style="font-size: 1.5em;">INVOICE</span><br />
        <span class="pull-right" style="font-size: 0.5em"># {{ invoice.no }}</span>
      </h1>
      <table class="table" ng-hide="true">
        <tr>
          <th>사업자번호</th>
          <td>{{ company.businessId }}</td>
          <th>대표자</th>
          <td>{{ company.chairman }}</td>
        </tr>
        <tr>
          <th>업태</th>
          <td>{{ company.businessType }}</td>
          <th>종목</th>
          <td>{{ company.businessCategory }}</td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>{{ company.phone }}</td>
          <th>이메일</th>
          <td>{{ company.email }}</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 30px">
    <div class="col-md-4">
      <p>
        Bill To<br />
        <strong>{{ invoice.sentTo.name }}</strong>
      </p>
    </div>
    <div class="col-md-8">
      <p class="pull-right">
        <br />
        <em>{{ 'INVOICE_DATE'|translate }} {{ invoice.createdAt|date:'yyyy년 MM월 dd일' }}</em>
      </p>
    </div>
  </div>


  <table class="table table-striped table-hover">
    <thead>
      <tr style="background-color: #333; color: white;">
        <th width="25px">#</th>
        <th>품명</th>
        <th width="150px" style="text-align: right;">단가</th>
        <th width="50px" style="text-align: right;">수량</th>
        <th>세금</th>
        <th width="150px" style="text-align: right;">공급가</th>
        <th>비고</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in invoice.products">
        <td>{{ $index + 1 }}</td>
        <td>{{ product.name }}</td>
        <td style="text-align: right;">{{  ( product.tax ) ? product.price*(1+product.tax/100) : product.price|krCurrency }} {{ ( product.tax ) ? '(+' + product.tax + '%' + ' TAX)' : '' }}</td>
        <td style="text-align: right;">{{ product.quantity }}</td>
        <td>{{ product.tax }}%</td>
        <td style="text-align: right;">{{ ( product.tax ) ? product.price * (1+product.tax/100) * product.quantity : product.price * product.quantity|krCurrency }}</td>
        <td class="ellipsis">{{ product.description }}</td>
      </tr>
    </tbody>
    <tfoot style="text-align: right;">
      <tr>
        <td colspan="2"></td>
        <td colspan="2">{{ 'SUB_TOTAL'|translate }}</td>
        <td>{{ getSubTotal()|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.discount">
        <td colspan="2"></td>
        <td colspan="2">{{ 'DISCOUNT'|translate }} ({{ invoice.discount }}%)</td>
        <td>{{ -(invoice.discount/100)*getSubTotal()|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.shipping">
        <td colspan="2"></td>
        <td colspan="2">{{ 'SHIPPING'|translate }}</td>
        <td>{{ invoice.shipping|krCurrency }}</td>
      </tr>
      <tr ng-show="invoice.adjustment">
        <td colspan="2"></td>
        <td colspan="2">{{ 'ADJUSTMENT'|translate }}</td>
        <td>
           {{ invoice.adjustment|krCurrency }}
         </td>
      </tr>
      <tr>
        <td colspan="2"></td>
        <th colspan="2" style="background-color: #F2F1F0; text-align: right;">{{ 'TOTAL'|translate }}</th>
        <th style="background-color: #F2F1F0; text-align: right;" colspan="1">
          <span>{{ invoice.price|krCurrency }}</span>
          <span class="label label-info pull-right" ng-show="invoice.isTaxIncluded">부가세 포함</span>
        </th>
      </tr>
    </tfoot>
  </table>

  <div style="margin-top: 50px;">
    <div ng-show="invoice.memo">
      <h5><strong>{{ 'CUSTOMER_NOTES'|translate }}</strong></h5>
      <p>
        {{ invoice.memo }}
      </p>
      <br />
    </div>

    <div ng-show="invoice.agreement">
      <h5><strong>{{ 'TERMS_AND_CONDITIONS'|translate }}</strong></h5>
      <p>
        {{ invoice.agreement }}
      </p>
    </div>
  </div>
</div>
 -->
