<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/invoice/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'INVOICE'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'INVOICE_NO'|translate }}</th>
            <th>{{ 'RELATED_ESTIMATE'|translate }}</th>
            <th width="120px;">{{ 'INVOICE_DATE'|translate }}</th>
            <th width="120px;">{{ 'EXPIRY_DATE'|translate }}</th>
            <th>{{ 'SALES_PERSON'|translate }}</th>
            <th>{{ 'SENT_TO'|translate }}</th>
            <th>{{ 'INVOICE_PRICE'|translate }}</th>
            <th>{{ 'PAYMENT'|translate }}</th>
            <th>{{ 'STATUS'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="invoice in invoices" ng-click="goTo(invoice.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(invoice.id)" ng-click="updateSelection($event, invoice.id); $event.stopPropagation();"></td>
            <td>{{ invoice.no }}</td>
            <td><a ng-href="/estimate/view/{{ invoice.estimate.id }}" ng-click="$event.stopPropagation();">{{ invoice.estimate.no }}</a></td>
            <td>{{ invoice.createdAt|date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ invoice.expiredAt||'-' |date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ invoice.salesPerson || invoice.createdBy.name || '-' }}</td>
            <td>
              {{ invoice.sentTo.displayName || invoice.sentToName }}
              <span popover="{{ invoice.emails }}" popover-trigger="mouseenter" class="label label-info">{{ '@'|translate }}</span>
            </td>
            <td>{{ invoice.price|krCurrency }}</td>
            <td>{{ invoice.payment }}</td>
            <td ng-switch="invoice.status">
              <span ng-switch-when="DRAFT" class="label label-default">{{ 'DRAFT'|translate }}</span>
              <span ng-switch-when="SENT" class="label label-warning">{{ 'SENT'|translate }}</span>
              <span ng-switch-when="PAID" class="label label-success">{{ 'PAID'|translate }}</span>
              <span ng-switch-when="CANCELLED" class="label label-danger">{{ 'CANCELLED'|translate }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>
</div>
