<loading-indicator></loading-indicator>

<div class="row row-offcanvas row-offcanvas-left" ng-hide="isLoading">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <h3>{{ 'INVOICE_EDITOR'|translate }} <span class="label label-info pull-right" ng-show="invoice.id">{{ invoice.id }}</span></h3>
    <hr />

    <!-- TARGET CUSTOMER -->
    <form name="invoiceForm" class="form-horizontal" novalidate>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group" ng-class="{ 'has-error': invoiceForm.sentTo.$invalid }">
            <label class="col-md-3 control-label">{{ 'CUSTOMER'|translate }} {{ 'NAME'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" name="sentTo" type="text" ng-model="invoice.sentTo" placeholder="{{ 'TYPE_OR_SELECT_CUSTOMER'|translate }}" typeahead="customer.name as customer.name for customer in customers" typeahead-on-select="selectedCustomer($item)" typeahead-loading="{{ 'LOADING_CUSTOMERS'|translate }}" required />
            </div>
            <p class="col-md-9 col-md-offset-3 help-block" ng-show="invoice.sentTo">
              {{ invoice.sentTo.email }} | {{ invoice.sentTo.company.name }}
            </p>
          </div>
          <div class="form-group" ng-class="{ 'has-error': invoiceForm.no.$invalid }">
            <label class="col-md-3 control-label">{{ 'INVOICE_NO'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" name="no" type="text" ng-model="invoice.no" disabled required />
            </div>
          </div>
          <div class="form-group" ng-show="invoice.estimate">
            <label class="col-md-3 control-label">{{ 'ESTIMATE_NO'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="invoice.estimate.no" disabled />
            </div>
          </div>
          <div class="form-group" ng-class="{ 'has-error': invoiceForm.createdAt.$invalid }">
            <label class="col-md-3 control-label">{{ 'INVOICE_DATE'|translate }}</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" class="form-control" name="createdAt" datepicker-popup="yyyy-MM-dd" ng-model="invoice.createdAt" is-open="opened[0]" min-date="minDate" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd" required />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'EXPIRY_DATE'|translate }}</label>
            <div class="col-md-9">
              <div class="input-group">
                <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="invoice.expiredAt" is-open="opened[1]" min-date="invoice.createdAt" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, 1)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'SALES_PERSON'|translate }}</label>
            <div class="col-md-9">
              <input class="form-control" type="text" ng-model="invoice.salesPerson" placeholder="{{ 'TYPE_OR_SELECT_SALESPERSON'|translate }}">
            </div>
          </div>
        </div>
        <div class="col-md-6">
        </div>
      </div>
      <hr />
      <!-- TARGET CUSTOMER -->

      <!-- PRODUCTS -->
      <div class="row" style="font-weight: bold;">
        <div class="col-md-3">제품명</div>
        <div class="col-md-2">단가</div>
        <div class="col-md-2">수량</div>
        <div class="col-md-2">세금</div>
        <div class="col-md-2">공급가</div>
        <div class="col-md-1"></div>
      </div>
      <hr />

      <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">{{alert.msg}}</alert>

      <div ng-repeat="invoiceItem in invoice.products" style="margin-bottom: 20px;">
        <ng-form name="itemForm">
          <div class="row">
            <div class="col-md-3" ng-class="{ 'has-error': itemForm.name.$invalid }">
              <input type="text" name="name" ng-model="invoiceItem.name" placeholder="{{ 'TYPE_OR_SELECT_PRODUCT'|translate }}" typeahead="product.name as product.name for product in products" typeahead-on-select="selectedProduct($item, $index)" typeahead-loading="{{ 'LOADING_PRODUCTS'|translate }}" class="form-control typeahead" required ng-disabled="invoiceItem.id">
              <button class="btn btn-xs btn-danger overlay" ng-show="invoiceItem.id" ng-click="clearItem($index)"><i class="fa fa-fw fa-close"></i></button>
            </div>
            <div class="col-md-2">
              <div class="input-group" ng-class="{ 'has-error': itemForm.price.$invalid }">
                <input format="number" name="price" ng-model="invoiceItem.price" class="form-control" required>
                <span class="input-group-addon">원</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group" ng-class="{ 'has-error': itemForm.quantity.$invalid }">
                <input type="number" name="quantity" ng-model="invoiceItem.quantity" class="form-control" required>
                <span class="input-group-addon">{{ invoiceItem.unit || '개' }}</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="input-group">
                <input ng-model="invoiceItem.tax" type="number" class="form-control">
                <span class="input-group-addon">%</span>
              </div>
            </div>
            <div class="col-md-2">
              <span class="form-control-static">
                {{ invoiceItem.tax ? invoiceItem.price * invoiceItem.quantity * (1+invoiceItem.tax/100) : invoiceItem.price * invoiceItem.quantity || 0 |krCurrency }}
              </span>
            </div>
            <div class="col-md-1">
              <button class="btn btn-md btn-danger" ng-click="deleteProduct($index)">{{ 'DELETE'|translate }}</button>
            </div>
          </div>
          <div class="row" style="margin-top: 6px;">
            <div class="col-md-3">
              <textarea ng-model="invoiceItem.description" class="form-control" placeholder="{{ 'ENTER_PRODUCT_DESCRIPTION'|translate }}"></textarea>
            </div>
          </div>
        </ng-form>
      </div>

      <button class="btn btn-lg btn-block btn-success" ng-click="addProduct()">항목 추가</button>
      <hr />
      <!-- PRODUCTS -->

      <!-- TOTAL PRICE MODIFIER -->
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <section class="panel panel-info">
            <div class="panel-heading">
              <strong>{{ 'INVOICE_SUMMARY'|translate }}</strong>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'SUB_TOTAL'|translate }}</label>
                <div class="col-md-5 col-md-offset-5">
                  <p class="form-control-static">{{ getSubTotal()|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'DISCOUNT'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="invoice.discount">
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static">{{ invoice.discount/100*getSubTotal()|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'SHIPPING'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input format="number" class="form-control" ng-model="invoice.shipping">
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static">{{ invoice.shipping|krCurrency }}</p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'ADJUSTMENT'|translate }}</label>
                <div class="col-md-5">
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="invoice.adjustment">
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
                <div class="col-md-5">
                  <p class="form-control-static">{{ invoice.adjustment|krCurrency }}</p>
                </div>
              </div>
            </div>
            <div class="panel-footer">
              <div class="row">
                <label class="col-md-2 control-label">{{ 'TOTAL'|translate }}</label>
                <div class="col-md-5 col-md-offset-5">
                  {{ getTotal()|krCurrency }}
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <hr />
      <!-- TOTAL PRICE MODIFIER -->

      <!-- ADDITIONAL DATA -->
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'CUSTOMER_NOTES'|translate }}</label>
        <div class="col-md-9">
          <textarea class="form-control" ng-model="invoice.memo"></textarea>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'TERMS_AND_CONDITIONS'|translate }}</label>
        <div class="col-md-9">
          <textarea class="form-control" ng-model="invoice.agreement"></textarea>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'EMAIL_TO'|translate }}</label>
        <div class="col-md-9" ng-show="invoice.emails.length > 0">
          <p class="form-control-static">
            <span ng-repeat="email in invoice.emails" style="margin: 5px;" class="badge">{{ email }}</span>
          </p>
        </div>
        <div ng-class="{ 'col-md-offset-3': invoice.emails.length !== 0 }" class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="emailAddress">
            </div>
            <div class="col-md-2">
              <button class="btn btn-block btn-info" ng-click="addEmail(emailAddress)">추가</button>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'ATTACHMENT'|translate }}</label>
        <div class="col-md-9">
          <input type="file" ng-model="invoice.attachment">
        </div>
      </div>
      <hr />
      <div class="form-group">
        <label class="col-md-3 control-label">{{ 'TEMPLATE'|translate }}</label>
        <div class="col-md-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="invoice.email"> 이메일
            </label>
          </div>
        </div>
      </div>
      <hr />
      <!-- ADDITIONAL DATA -->

      <button class="btn btn-lg btn-primary" ng-click="invoiceForm.$valid && saveInvoice(invoice)" ng-hide="isEditing">{{ 'SAVE'|translate }}</button>
      <button class="btn btn-lg btn-warning" ng-click="invoiceForm.$valid && saveInvoice(invoice, true)" ng-hide="isEditing">{{ 'SAVE_AND_SEND'|translate }}</button>
      <button class="btn btn-lg btn-info" ng-click="changeinvoice()" ng-show="isEditing && !invoice.isApproved">수정하기</button>
      <a class="btn btn-lg btn-default" ng-href="/invoice/" ng-hide="invoice.id">{{ 'CANCEL'|translate }}</a>
      <a class="btn btn-lg btn-default" ng-href="/invoice/view/{{ invoice.id }}" ng-show="invoice.id">{{ 'CANCEL'|translate }}</a>
    </form>
  </div>
</div>
