<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-3 col-md-offset-2 hidden-xs" ng-hide="isLoading">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/invoice/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'INVOICE'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'SENT_TO'|translate }}</th>
            <th style="text-align: right;">{{ 'INVOICE_PRICE'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="item in invoices" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === invoice.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>
              {{ item.sentTo.displayName || item.sentToName }}
              <br />
              <span style="color: #AAA;">{{ item.no }} | {{ item.createdAt|date:'yyyy년 MM월 dd일' }}</span>
            </td>
            <td ng-switch="item.status" style="text-align: right;">
              {{ item.price|krCurrency }}
              <br />
              <span ng-switch-when="DRAFT" class="label label-default">{{ 'DRAFT'|translate }}</span>
              <span ng-switch-when="SENT" class="label label-warning">{{ 'SENT'|translate }}</span>
              <span ng-switch-when="PAID" class="label label-success">{{ 'PAID'|translate }}</span>
              <span ng-switch-when="CANCELLED" class="label label-danger">{{ 'CANCELLED'|translate }}</span>
            </td>
          </tr>
        </tbody>
        <!-- <tbody>
          <tr class="hand-cursor" ng-repeat="item in invoices" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === invoice.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>
              {{ item.createdAt|date:'yyyy년 MM월 dd일' }}
              <br />
              {{ item.expiredAt||'-' |date:'yyyy년 MM월 dd일' }}
            </td>
            <td>{{ item.sentTo.displayName }}</td>
          </tr>
        </tbody> -->
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>

  <div class="col-md-7 estimate-preview">
    <div style="margin-top: 20px;">
      <a class="btn btn-info btn-side" ng-href="/invoice/email/{{ invoice.id }}"><i class="fa fa-envelope"></i></a>
      <div class="btn-group btn-side">
        <a class="btn btn-default btn-white" target="_blank" ng-href="/invoice/{{ invoice.id }}"><i class="fa fa-eye"></i></a>
        <!-- <button class="btn btn-default btn-white" ng-click="print()"><i class="fa fa-file-pdf-o"></i></button> -->
        <a ng-href="/invoice/editor/{{ invoice.id }}" class="btn btn-default btn-white"><i class="fa fa-pencil"></i></a>
        <button class="btn btn-default btn-white" ng-click="deleteInvoice(invoice.id)"><i class="fa fa-trash"></i></button>
      </div>

      <button class="btn btn-success btn-side" ng-show="invoice.status === 'PAID'" disabled>지불됨</button>
      <button class="btn btn-info btn-side" ng-hide="invoice.status === 'PAID'" ng-click="openPaymentForm()">지불처리</button>

      <a ng-href="/invoice" class="pull-right"><i class="fa fa-2x fa-close"></i></a>
    </div>

    <div class="ribbon left_ribbon">
      <span>{{ invoice.status|translate }}</span>
    </div>

    <div ng-include src="'views/invoice-template.html'"></div>

    <div ng-show="invoice.expiredAt">
      <span class="pull-right">
        <em>본 청구서는 {{ invoice.expiredAt|date:'yyyy년 MM월 dd일' }}까지 유효합니다.</em>
      </span>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
