<div class="row" ng-init="navless = true;">
  <div class="col-xs-12" style="width: 1024px; margin: 20px;">
    <div ng-include src="'views/invoice-template.html'"></div>

    <div ng-show="invoice.expiredAt">
      <span class="pull-right">
        <em>본 견적서는 {{ invoice.expiredAt|date:'yyyy년 MM월 dd일' }}까지 유효합니다.</em>
      </span>
      <div class="clearfix"></div>
    </div>

    <div class="hidden-print" id="buttons" style="padding-top: 10px;">
      <p class="pull-right">
        <button class="btn btn-lg btn-side btn-success pull-right" ng-click="pay()" ng-hide="invoice.status === 'PAID'">지불하기</button>
        <button class="btn btn-lg btn-side btn-success pull-right" ng-show="invoice.status === 'PAID'" disabled>지불됨</button>
        <button class="btn btn-lg btn-side btn-default pull-right" onclick="window.print()" >인쇄하기</button>
      </p>
    </div>
  </div>
</div>
