<div class="col-md-10 col-md-offset-2" style="text-align: center; padding: 100px;" ng-show="isLoading">
  <h1>
    <i class="fa fa-2x fa-fw fa-spin fa-refresh"></i>
    <br /><br />
    <strong>Now loading...</strong>
  </h1>
</div>
