<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <section class="panel panel-info" style="margin-top: 50px;">
      <div class="panel-heading">
        <strong>LOGIN</strong>
      </div>
      <div class="panel-body">
        <div class="btn-group btn-group-justified" ng-init="type = 'passwordless'">
          <div class="btn-group">
            <button ng-class="{ active:type === 'passwordless' }" class="btn btn-default" ng-click="type = 'passwordless'">비밀번호 없이 로그인</button>
          </div>
          <div class="btn-group">
            <button ng-class="{ active:type === 'password' }"  class="btn btn-default" ng-click="type = 'password'">비밀번호로 로그인</button>
          </div>
          <div class="btn-group">
            <button ng-class="{ active:type === 'signup' }"  class="btn btn-default" ng-click="type = 'signup'">회원가입</button>
          </div>
        </div>

        <div class="alert alert-dismissible" id="alert" role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        </div>

        <div ng-show="type === 'passwordless'">
          <div ng-hide="isTokenRequested">
            <h3>토큰 요청</h3>
            <form name="tokenRequestForm" ng-submit="tokenRequest()" novalidate>
              <div class="form-group">
                <label>이메일</label>
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="email" class="form-control" id="email" name="email" placeholder="user@openstore.com" />
                </div>
              </div>

              <p class="help-block">
                비밀번호 없이 로그인을 하기 위해서는 토큰을 발행해야 합니다. 이메일을 입력하고 요청을 눌러주세요. 회원으로 가입되어있지 않을 경우 자동으로 가입됩니다.
              </p>

              <button class="btn btn-lg btn-block btn-primary">토큰 요청</button>
            </form>
          </div>

          <div ng-show="isTokenRequested">
            <h3>토큰으로 로그인<button class="btn btn-sm btn-default pull-right" ng-click="isTokenRequested = false">토큰요청</button></h3>
            <form name="tokenForm" ng-submit="tokenLogin()" novalidate>
              <div class="form-group">
                <label>이메일</label>
                <div class="input-group">
                  <div class="input-group-addon">@</div>
                  <input type="email" class="form-control" ng-model="tokenCredentials.email" placeholder="user@openstore.com" />
                </div>
              </div>

              <div class="form-group">
                <label>토큰</label>
                <div class="input-group">
                  <div class="input-group-addon">#</div>
                  <input type="password" class="form-control" ng-model="tokenCredentials.password" placeholder="1FK30">
                </div>
              </div>

              <p class="help-block">
                로그인 토큰은 1회용으로, 한번 로그인 하시면 자동으로 삭제됩니다.
              </p>

              <button class="btn btn-lg btn-block btn-primary">로그인</button>
            </form>
          </div>
        </div>

        <div ng-show="type === 'password'" ng-init="loginCredentials.keep = true">
          <h3>로그인</h3>
          <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
            <div class="form-group">
              <label for="email">이메일</label>
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="email" class="form-control" placeholder="user@openstore.com" ng-model="loginCredentials.email"/>
              </div>
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <div class="input-group">
                <div class="input-group-addon">?</div>
                <input type="password" class="form-control" ng-model="loginCredentials.password"/>
              </div>
            </div>
            <div class="checkbox" style="margin-top: 5px;">
              <label style="margin-top: 5px;">
                <input type="checkbox" ng-model="loginCredentials.keep"/>
                이 브라우저에서 로그인 유지
              </label>
            </div>

            <button class="btn btn-lg btn-block btn-primary">로그인</button>
          </form>
        </div>

        <div ng-show="type === 'signup'" ng-init="signupCredentials.agreement = true">
          <h3>회원가입</h3>
          <form name="signupForm" ng-submit="signupForm.$valid && signupCredentials.agreement === true && signup()" novalidate>
            <div class="form-group">
              <label for="email">이메일</label>
              <div class="input-group">
                <div class="input-group-addon">@</div>
                <input type="email" class="form-control" ng-model="signupCredentials.email" placeholder="user@openstore.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <div class="input-group">
                <div class="input-group-addon">?</div>
                <input type="password" class="form-control" ng-model="signupCredentials.password" required/>
              </div>
            </div>

            <p class="help-block">가입하면 <a ng-href="/agreement" target="_blank">이용 약관</a>에 동의하는 것으로 간주합니다.</p>
            <button class="btn btn-lg btn-block btn-primary">회원가입</button>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>