<loading-indicator></loading-indicator>

<div class="row intro-logo" style="min-height: 700px; margin-top: -50px;">
  <div class="col-md-7 hidden-xs hidden-sm">
    <div style="text-align: center; padding-top: 100px;">
      <h1 style="color: #FFF;">
        <i class="fa fa-fw fa-3x fa-anchor"></i>
        <br /><br />
        YOUR START-UP PARTNER
        <br />
        <strong>4-WORK</strong>
      </h1>
    </div>
  </div>

  <div class="col-md-4" style="min-width: 450px;" ng-hide="user">
    <section class="panel panel-default" style="margin-top: 80px;" ng-controller="LoginCtrl">
      <div class="panel-body">
        <div class="row center" style="margin: 0 -15px!important;" ng-init="type = 'passwordless'">
          <div ng-class="{ active:type === 'passwordless' }" class="hand-cursor col-xs-4 login-mode" ng-click="type = 'passwordless'">
            PASSWORDLESS
          </div>
          <div ng-class="{ active:type === 'password' }" class="hand-cursor col-xs-4 login-mode" ng-click="type = 'password'">
            LOGIN
          </div>
          <div ng-class="{ active:type === 'signup' }" class="hand-cursor col-xs-4 login-mode" ng-click="type = 'signup'">
            SIGN-UP
          </div>
        </div>

        <div class="alert alert-dismissible" id="alert" role="alert" style="display: none;">
          <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
          </button>
        </div>

        <!-- PASSWORDLESS -->
        <div ng-show="type === 'passwordless'">
          <div id="token-request" class="login-panel">
            <h4>비밀번호 없이 로그인<button class="btn btn-sm btn-default pull-right" ng-click="showTokenLogin()">토큰 있음</button></h4>
            <hr />
            <form name="requestTokenForm" ng-submit="requestTokenForm.$valid && tokenRequest()" novalidate>
              <div class="form-group">
                <label>이메일</label>
                <div class="input-group" ng-class="requestTokenForm.email.$invalid ? 'has-error' : 'has-success'">
                  <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                  <input name="email" type="email" class="form-control" ng-model="email" placeholder="user@openstore.com" required/>
                </div>
              </div>

              <p class="help-block">
                비밀번호 없이 로그인을 하기 위해서는 토큰을 발행해야 합니다. 이메일을 입력하고 요청을 눌러주세요. 회원으로 가입되어있지 않을 경우 자동으로 가입됩니다.
              </p>

              <button class="btn btn-lg btn-block btn-primary">토큰 요청</button>
            </form>
          </div>

          <div id="token-login" class="login-panel" style="display: none;">
            <h4>토큰으로 로그인<button class="btn btn-sm btn-default pull-right" ng-click="showTokenRequest()">토큰요청</button></h4>
            <hr />

            <form name="tokenForm" ng-submit="tokenForm.$valid && tokenLogin()" novalidate>
              <div class="form-group">
                <label>이메일</label>
                <div class="input-group" ng-class="tokenForm.email.$invalid ? 'has-error' : 'has-success'">
                  <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                  <input type="email" name="email" class="form-control" ng-model="tokenCredentials.email" placeholder="user@openstore.com" required/>
                </div>
              </div>

              <div class="form-group">
                <label>토큰</label>
                <div class="input-group" ng-class="tokenForm.token.$invalid ? 'has-error' : 'has-success'">
                  <div class="input-group-addon"><i class="fa fa-fw fa-ellipsis-h"></i></div>
                  <input type="password" name="token" class="form-control" ng-model="tokenCredentials.token" placeholder="1FK30" required/>
                </div>
              </div>

              <p class="help-block">
                로그인 토큰은 1회용으로, 한번 로그인 하시면 자동으로 삭제됩니다.
              </p>

              <button class="btn btn-lg btn-block btn-primary">로그인</button>
            </form>
          </div>
        </div>
        <!-- PASSWORDLESS -->

        <!-- LOGIN -->
        <div ng-show="type === 'password'" ng-init="loginCredentials.keep = true" class="login-panel">
          <h4>로그인</h4>
          <hr />

          <form name="loginForm" ng-submit="loginForm.$valid && login()" novalidate>
            <div class="form-group">
              <label for="email">이메일</label>
              <div class="input-group" ng-class="loginForm.email.$invalid ? 'has-error' : 'has-success'">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email" name="email" class="form-control" placeholder="user@openstore.com" ng-model="loginCredentials.email" required/>
              </div>
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <div class="input-group" ng-class="loginForm.password.$invalid ? 'has-error' : 'has-success'">
                <div class="input-group-addon"><i class="fa fa-fw fa-key"></i></div>
                <input type="password" name="password" class="form-control" ng-model="loginCredentials.password" placeholder="a1s2d3f4" ng-minlength="6" required/>
              </div>
            </div>
            <div class="checkbox" style="margin-top: 5px;">
              <label style="margin-top: 5px;">
                <input type="checkbox" ng-model="loginCredentials.keep"/>
                이 브라우저에서 로그인 유지
              </label>
            </div>

            <button class="btn btn-lg btn-block btn-primary">로그인</button>
          </form>
        </div>
        <!-- LOGIN -->

        <!-- SIGN-UP -->
        <div ng-show="type === 'signup'" ng-init="signupCredentials.agreement = true" class="login-panel">
          <h4>회원가입</h4>
          <hr />

          <form name="signupForm" ng-submit="signupForm.$valid && signupCredentials.agreement === true && signup()" novalidate>
            <div class="form-group">
              <label for="email">이메일</label>
              <div class="input-group" ng-class="signupForm.email.$invalid ? 'has-error' : 'has-success'">
                <div class="input-group-addon"><i class="fa fa-fw fa-envelope-o"></i></div>
                <input type="email" name="email" class="form-control" ng-model="signupCredentials.email" placeholder="user@openstore.com" required>
              </div>
            </div>
            <div class="form-group">
              <label for="password">비밀번호</label>
              <div class="input-group" ng-class="signupForm.password.$invalid ? 'has-error' : 'has-success'">
                <div class="input-group-addon"><i class="fa fa-fw fa-key"></i></div>
                <input type="password" name="password" class="form-control" ng-model="signupCredentials.password" placeholder="a1s2d3f4" ng-minlength="6" required/>
              </div>
            </div>

            <p class="help-block">가입하면 <a ng-href="/agreement" target="_blank">이용 약관</a>에 동의하는 것으로 간주합니다.</p>
            <button class="btn btn-lg btn-block btn-primary">회원가입</button>
          </form>
        </div>
        <!-- SIGN-UP -->

      </div>
    </section>
  </div>

  <div class="col-md-4" ng-show="user">
    <section class="panel panel-default" style="margin-top: 150px;" ng-controller="LoginCtrl">
      <div class="panel-body">
        <h5><strong>{{ user.name || user.email }}님</strong> 환영합니다.</h5>
        <p>스타트업과 소규모 창업자들이 쉽고 저렴하게 사용할 수 있는 웹서비스를 만들기 위해 노력하고 있습니다.</p>
      </div>

      <div class="panel-footer">
        <a ng-href="/dashboard" class="btn btn-block btn-primary">GO TO DASHBOARD</a>
      </div>
    </section>
  </div>
</div>
<footer-template></footer-template>
