<div ng-controller="NavCtrl" ng-init="getUser()" class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-show="PageFactory.navStatus() && getLocation()[0] !== ''">
  <div class="navbar-header">
    <button type="button" class="visible-xs navbar-toggle pull-left" ng-click="toggleSideBar()" style="margin-left: 10px; margin-right: 0px;" ng-show="user">
      <i class="icon-bar"></i>
      <i class="icon-bar"></i>
      <i class="icon-bar"></i>
    </button>
    <a class="navbar-brand" ng-href="/">4W</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
      <li ng-show="user">
        <a>{{ 'FREE_PLAN'|translate }}</a>
      </li>
      <li ng-show="user">
        <a ng-href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> {{ 'DASHBOARD'|translate }} </a>
      </li>
      <li ng-show="user">
        <a ng-href="/settings"><i class="fa fa-fw fa-gear"></i> {{ 'SETTINGS'|translate }}</a>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle hand-cursor" data-toggle="dropdown" ng-show="user">
          {{ user.name || user.email }} <strong class="caret"></strong>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li class="dropdown-header">{{ 'SHORT_CUT'|translate }}</li>
          <li><a ng-href="/customer/editor">{{ 'NEW_CUSTOMER'|translate }}</a></li>
          <li><a ng-href="/product/editor">{{ 'NEW_PRODUCT'|translate }}</a></li>
          <li><a ng-href="/estimate/editor">{{ 'NEW_ESTIMATE'|translate }}</a></li>
          <li><a ng-href="/invoice/editor">{{ 'NEW_INVOICE'|translate }}</a></li>

          <li class="dropdown-header">{{ 'ACCOUNT_MENU'|translate }}</li>
          <li><a ng-href="/settings">{{ 'SETTINGS'|translate }}</a></li>
          
          <li class="divider"></li>
          <li><a ng-click="logout()">{{ 'LOGOUT'|translate }}</a></li>
        </ul>
      </li>
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-control-wrapper">
        <input type="text" class="form-control" placeholder="{{ 'ENTER_SEARCH_WORD'|translate }}" name="name" value="{{ query }}"/>
        <button type="submit" class="btn btn-default">{{ 'SEARCH'|translate }}</button>
      </div>
    </form>
  </div>
</div>
