<div class="panel panel-default panel-estimate" style="margin-top: 50px;" id="preview">
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-weight: bold;">{{ payment.createdBy.company.name }}</h1>
      <p>
        {{ payment.createdBy.company.address[0] }}<br />
        {{ payment.createdBy.company.address[1] }}<br />
        {{ payment.createdBy.company.address[2] }}<br />
      </p>
    </div>
  </div>
  <hr />

  <div class="receipt-title">
    <span>{{ 'PAYMENT_RECEIPT'|translate }}</span>
  </div>

  <div class="payment-detail">
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAYMENT_DATE'|translate }}</div>
      <div class="col-xs-5 underlined">{{ payment.createdAt|date:'yyyy년 MM월 dd일' }}</div>
      <div class="col-xs-4">
        <div class="payment-amount turquoise">
          {{ 'AMOUNT_PAID'|translate }}
          <br />
          <span style="font-size: 1.5em;">{{ payment.amount|krCurrency }}</span>
        </div>
      </div>
    </div>
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAID_BY'|translate }}</div>
      <div class="col-xs-5 underlined">{{ payment.paidBy.displayName }}</div>
    </div>
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAYMENT_TYPE'|translate }}</div>
      <div class="col-xs-9 underlined">{{ payment.type|translate }}</div>
    </div>
  </div>

  <h3>{{ 'PAYMENT_FOR'|translate }}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr style="background-color: #333; color: white;">
        <th>{{ 'INVOICE_NO'|translate }}</th>
        <th>{{ 'INVOICE_DATE'|translate }}</th>
        <th style="text-align: right;">{{ 'INVOICE_PRICE'|translate }}</th>
        <th style="text-align: right;">{{ 'PAYMENT_AMOUNT'|translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ payment.invoice.no }}</td>
        <td>{{ payment.invoice.createdAt|date:'yyyy년 MM월 dd일' }}</td>
        <td style="text-align: right;">{{ payment.invoice.price|krCurrency }}</td>
        <td style="text-align: right;">{{ payment.amount|krCurrency }}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 50px;">
  </div>
</div>





<!--
<div class="panel panel-default panel-estimate" style="margin-top: 20px;" id="preview">
  <div class="row">
    <div class="col-md-4">
      <h1 style="font-weight: bold;">{{ payment.createdBy.company.name }}</h1>
      <p>
        {{ payment.createdBy.company.address[0] }}<br />
        {{ payment.createdBy.company.address[1] }}<br />
        {{ payment.createdBy.company.address[2] }}<br />
      </p>
    </div>
    <div class="col-md-8">
      <table class="table" ng-hide="true">
        <tr>
          <th>사업자번호</th>
          {{ payment.createdBy.company|json }}
          <td>{{ payment.createdBy.company.businessId }}</td>
          <th>대표자</th>
          <td>{{ payment.createdBy.company.chairman }}</td>
        </tr>
        <tr>
          <th>업태</th>
          <td>{{ payment.createdBy.company.businessType }}</td>
          <th>종목</th>
          <td>{{ payment.createdBy.company.businessCategory }}</td>
        </tr>
        <tr>
          <th>연락처</th>
          <td>{{ payment.createdBy.company.phone }}</td>
          <th>이메일</th>
          <td>{{ payment.createdBy.company.email }}</td>
        </tr>
      </table>
    </div>
  </div>
  <hr />

  <div class="receipt-title">
    <span>{{ 'PAYMENT_RECEIPT'|translate }}</span>
  </div>

  <h3 style="text-align: center; text-decoration: underline;">{{ 'PAYMENT_RECEIPT'|translate }}</h3>
  <div class="payment-detail">
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAYMENT_DATE'|translate }}</div>
      <div class="col-xs-5 underlined">{{ payment.createdAt|date:'yyyy년 MM월 dd일' }}</div>
      <div class="col-xs-4">
        <div class="payment-amount turquoise">
          {{ 'AMOUNT_PAID'|translate }}
          <br />
          <span style="font-size: 1.5em;">{{ payment.amount|krCurrency }}</span>
        </div>
      </div>
    </div>
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAID_BY'|translate }}</div>
      <div class="col-xs-5 underlined">{{ payment.paidBy.displayName }}</div>
    </div>
    <div class="row receipt-element">
      <div class="col-xs-3">{{ 'PAYMENT_TYPE'|translate }}</div>
      <div class="col-xs-9 underlined">{{ payment.type|translate }}</div>
    </div>
  </div>

  <h3>{{ 'PAYMENT_FOR'|translate }}</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr style="background-color: #333; color: white;">
        <th>{{ 'INVOICE_NO'|translate }}</th>
        <th>{{ 'INVOICE_DATE'|translate }}</th>
        <th style="text-align: right;">{{ 'INVOICE_PRICE'|translate }}</th>
        <th style="text-align: right;">{{ 'PAYMENT_AMOUNT'|translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ payment.invoice.no }}</td>
        <td>{{ payment.invoice.createdAt|date:'yyyy년 MM월 dd일' }}</td>
        <td style="text-align: right;">{{ payment.invoice.price|krCurrency }}</td>
        <td style="text-align: right;">{{ payment.amount|krCurrency }}</td>
      </tr>
    </tbody>
  </table>

  <div style="margin-top: 50px;">
  </div>
</div>
 -->
