<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <form class="form-horizontal" name="paymentForm" ng-submit="paymentForm.$valid && savePayment(payment)">
    <div class="col-sm-10 col-sm-offset-2">
      <h3>{{ 'PAYMENT_EDITOR'|translate }} <span class="label label-info pull-right" ng-show="payment.id">{{ payment.id }}</span></h3>
      <hr>

      <div class="row">
        <div class="col-md-8">
          <div class="row row-arranged">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': paymentForm.amount.$invalid }">
                <label class="col-md-4 control-label">{{ 'AMOUNT_RECEIVED'|translate }}</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input format="number" name="amount" class="form-control" ng-model="payment.amount" required/>
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-4 control-label">{{ 'BANK_CHARGES'|translate }}</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input format="number" class="form-control" ng-model="payment.charge" />
                    <span class="input-group-addon">원</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-arranged">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-4 control-label">{{ 'TAX_DEDUCTED'|translate }}</label>
                <div class="col-md-8">
                  <div class="checkbox" style="margin-left: 15px;">
                    <label>
                      <input type="checkbox" ng-model="payment.isTaxDeducted">
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group" ng-show="payment.isTaxDeducted">
                <label class="col-md-4 control-label">{{ 'TAX'|translate }}</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="payment.tax" />
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row row-arranged">
            <div class="col-md-6">
              <div class="form-group" ng-class="{ 'has-error': paymentForm.createdAt.$invalid }">
                <label class="col-md-4 control-label">{{ 'PAID_DATE'|translate }}</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input type="text" name="createdAt" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="estimate.createdAt" is-open="opened[0]" min-date="minDate" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd" required />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open($event, 0)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-4 control-label">{{ 'PAYMENT_TYPE'|translate }}</label>
                <div class="col-md-8">
                  <select class="form-control">
                    <option value="CASH">{{ 'CASH'|translate }}</option>
                    <option value="CREDIT">{{ 'CREDIT'|translate }}</option>
                    <option value="BANK">{{ 'BANK'|translate }}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group clearfix">
            <label class="col-md-2 control-label">{{ 'DESCRIPTION'|translate }}</label>
            <div class="col-md-10">
              <textarea class="form-control" rows="5" ng-model="payment.description"></textarea>
            </div>
          </div>
          <div class="checkbox pull-right" style="margin-left: 15px;">
            <label>
              <input type="checkbox" ng-model="payment.sendThank"> {{ 'SNED_THANKS_EMAIL'|translate }}
            </label>
          </div>
        </div>
      </div>

      <hr>
      <button type="submit" class="btn btn-lg btn-primary">{{ 'SAVE'|translate }}</button>
      <a ng-href="/payment" class="btn btn-lg btn-default">{{ 'CANCEL'|translate }}</a>

      {{ payment }}
    </div>
  </form>
</div>
