<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-3 col-md-offset-2 hidden-xs" ng-hide="isLoading">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/payment/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'PAYMENT'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'PAID_BY'|translate }}</th>
            <th style="text-align: right;">{{ 'PAYMENT_AMOUNT'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="item in payments" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === payment.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>
              {{ item.paidBy.displayName }}
              <br />
              <span style="color: #AAA;">{{ item.createdAt|date:'yyyy년 MM월 dd일' }}</span>
            </td>
            <td style="text-align: right;">
              {{ item.amount|krCurrency }}
              <br />
              {{ payment.type|translate }}
            </td>
          </tr>
        </tbody>
        <!-- <tbody>
          <tr class="hand-cursor" ng-repeat="item in payments" ng-click="goTo(item.id)" ng-class="{ 'active': item.id === payment.id }">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(item.id)" ng-click="updateSelection($event, item.id); $event.stopPropagation();"></td>
            <td>
              {{ item.createdAt|date:'yyyy년 MM월 dd일' }}
            </td>
            <td>{{ item.paidBy.displayName }}</td>
          </tr>
        </tbody> -->
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>

  <div class="col-md-7 estimate-preview">
    <div style="margin-top: 20px;">
      <a class="btn btn-info btn-side" ng-href="/payment/email/{{ payment.id }}"><i class="fa fa-envelope"></i></a>
      <div class="btn-group btn-side">
        <a class="btn btn-default btn-white" target="_blank" ng-href="/payment/{{ payment.id }}"><i class="fa fa-eye"></i></a>
        <!-- <button class="btn btn-default btn-white" ng-click="print()"><i class="fa fa-file-pdf-o"></i></button> -->
        <button class="btn btn-default btn-white" ng-click="openPaymentForm()"><i class="fa fa-pencil"></i></button>
        <button class="btn btn-default btn-white" ng-click="deletePayment(payment.id)"><i class="fa fa-trash"></i></button>
      </div>
      <a ng-href="/payment" class="pull-right"><i class="fa fa-2x fa-close"></i></a>
    </div>

    <div ng-include src="'views/payment-template.html'"></div>

  </div>
</div>
