<form class="form-horizontal" name="paymentForm" ng-submit="paymentForm.$valid && savePayment(payment)">
  <div class="modal-header">
    {{ 'PAYMENT_EDITOR'|translate }}
    <span class="label label-info pull-right" ng-show="invoice.no">{{ invoice.sentTo.displayName }} | {{ invoice.no }}</span>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ 'AMOUNT_RECEIVED'|translate }}</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input format="number" class="form-control" ng-model="payment.amount" required/>
              <span class="input-group-addon">원</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ 'BANK_CHARGES'|translate }}</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input format="number" class="form-control" ng-model="payment.bankCharges" />
              <span class="input-group-addon">원</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ 'TAX_DEDUCTED'|translate }}</label>
          <div class="col-sm-8">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="payment.isTaxIncluded">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" ng-show="payment.isTaxIncluded">
          <label class="col-sm-4 control-label">{{ 'TAX'|translate }}</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="number" class="form-control" ng-model="payment.tax" />
              <span class="input-group-addon">%</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ 'PAID_DATE'|translate }}</label>
          <div class="col-sm-8">
            <div class="input-group">
              <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="payment.createdAt" is-open="opened" min-date="minDate" close-text="{{ 'CLOSE'|translate }}" placeholder="yyyy-MM-dd" required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="col-sm-4 control-label">{{ 'PAYMENT_TYPE'|translate }}</label>
          <div class="col-sm-8">
            <select class="form-control" ng-model="payment.type" required>
              <option value="CASH">{{ 'CASH'|translate }}</option>
              <option value="ACCOUNT_TRANSFER">{{ 'ACCOUNT_TRANSFER'|translate }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{ 'DESCRIPTION'|translate }}</label>
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" ng-model="payment.description"></textarea>
      </div>
    </div>
    <div class="checkbox" style="margin-left: 15px;">
      <label>
        <input type="checkbox" ng-model="payment.sendThank"> {{ 'SNED_THANKS_EMAIL'|translate }}
      </label>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-lg btn-primary" ng-click="pay()">{{ 'SAVE'|translate }}</button>
    <button class="btn btn-lg btn-default" ng-click="cancel()">{{ 'CANCEL'|translate }}</button>
  </div>
</form>