<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/payment/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'PAYMENTS_RECEIVED'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th width="120px;">{{ 'PAID_DATE'|translate }}</th>
            <th>{{ 'PAID_BY'|translate }}</th>
            <th width="120px;">{{ 'INVOICE'|translate }}</th>
            <th>{{ 'PAYMENT_TYPE'|translate }}</th>
            <th>{{ 'PAYMENT_AMOUNT'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="payment in payments" ng-click="goTo(payment.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(payment.id)" ng-click="updateSelection($event, payment.id); $event.stopPropagation();"></td>
            <td>{{ payment.createdAt|date:'yyyy년 MM월 dd일' }}</td>
            <td>{{ payment.paidBy.displayName }}</td>
            <td><a ng-href="/invoice/view/{{ payment.invoice.id }}" ng-click="$event.stopPropagation();">{{ payment.invoice.no }}</a></td>
            <td>{{ payment.type|translate }}</td>
            <td>{{ payment.amount|krCurrency }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>
</div>
