<div class="row" ng-init="navless = true;">
  <div class="col-xs-12" style="width: 800px; margin: 20px;">
    
    <div ng-include src="'views/payment-template.html'"></div>

    <div class="hidden-print" id="buttons">
      <p class="pull-right">
        <button class="btn btn-lg btn-side btn-default pull-right" onclick="window.print()" >인쇄하기</button>
      </p>
    </div>
  </div>
</div>
