<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <form class="form-horizontal" name="productForm" ng-submit="productForm.$valid && saveProduct(product)">
    <div class="col-md-10 col-md-offset-2">
      <h3>{{ 'PRODUCT_EDITOR'|translate }} <span class="label label-info pull-right" ng-show="product.id">{{ product.id }}</span></h3>
      <hr>

      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-2 control-label text-danger bold">{{ 'NAME'|translate }}</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" ng-model="product.name" required/>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'UNIT'|translate }}</label>
                <div class="col-md-6">
                  <input type="text" class="form-control" ng-model="product.unit" placeholder="{{ 'EA'|translate }}" />
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-2 control-label text-danger bold">{{ 'PRICE'|translate }}</label>
                <div class="col-md-8">
                  <div class="input-group">
                    <input format="number" class="form-control" ng-model="product.price" required/>
                    <span class="input-group-addon">{{ '원' }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="col-md-2 control-label">{{ 'TAX'|translate }}</label>
                <div class="col-md-6">
                  <div class="input-group">
                    <input type="number" class="form-control" ng-model="product.tax" />
                    <span class="input-group-addon">%</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-md-1 control-label">{{ 'DESCRIPTION'|translate }}</label>
            <div class="col-md-9">
              <textarea class="form-control" rows="5" ng-model="product.description"></textarea>
            </div>
          </div>
        </div>

        <!-- TIPS -->
        <div class="col-md-4">
          <p>
            <strong>Can I add an organization as my Contact?</strong><br>
            Yes, Of course! Add the organization’s name in the Contact Display Name. The Contact Name, Email Address and contact number will be that of the primary contact in the organization. You can add more contact persons from the details page.
          </p>
          <p>
            <strong>Can I add an individual person as my Contact?</strong><br>
            Yes. To identify an individual customer, enter his/her name in the ‘Contact Display Name’ followed by other contact information
          </p>
        </div><!-- TIPS -->
      </div>

      <hr>
      <button type="submit" class="btn btn-lg btn-primary">{{ 'SAVE'|translate }}</button>
      <a ng-href="/product" class="btn btn-lg btn-default">{{ 'CANCEL'|translate }}</a>
    </div>
  </form>
</div>