<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <div class="inner-top">
      <a class="btn btn-primary pull-right" ng-href="/product/editor"><i class="fa fa-fw fa-plus"></i> {{ 'ADD_NEW'|translate }}</a>
      <h3>{{ 'PRODUCT'|translate }}</h3>
    </div>

    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th width="20"><input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()"></th>
            <th>{{ 'NAME'|translate }}</th>
            <th>{{ 'PRICE'|translate }}</th>
            <th>{{ 'UNIT'|translate }}</th>
            <th>{{ 'DESCRIPTION'|translate }}</th>
            <th>{{ 'MANAGE'|translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr class="hand-cursor" ng-repeat="product in products" ng-click="goTo(product.id)">
            <td><input type="checkbox" name="selected" ng-checked="isSelected(product.id)" ng-click="updateSelection($event, product.id); $event.stopPropagation();"></td>
            <td>{{ product.name }}</td>
            <td>{{ product.price|krCurrency }}</td>
            <td>{{ product.unit }}</td>
            <td class="ellipsis" style="max-width: 500px;">{{ product.description }}</td>
            <td>
              <button class="btn btn-xs btn-danger" ng-click="deleteProduct(product.id); $event.stopPropagation();">{{ 'DELETE'|translate }}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <nav style="text-align: center;">
      <pagination total-items="page.count" ng-model="currentPage" ng-change="pageChanged()"></pagination>
    </nav>
  </div>
</div>