<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-md-2 sidebar" ng-controller="NavCtrl">
    <ul class="nav nav-sidebar">
      <li><a ng-href="/dashboard"><i class="fa fa-fw fa-arrow-left"></i> {{ 'BACK'|translate }}</a></li>
    </ul>

    <!-- <ul class="nav nav-sidebar">
      <li ng-class="{ active:location()[1] === 'user' }"><a ng-href="/settings/user"><i class="fa fa-fw fa-user"></i> {{ 'USER'|translate }}</a></li>
      <li ng-class="{ active:location()[1] === 'company' }"><a ng-href="/settings/company"><i class="fa fa-fw fa-building"></i> {{ 'COMPANY'|translate }}</a></li>
    </ul> -->

    <ul>
      {{ location() }}
    </ul>
  </div>

  <div class="col-md-10 col-md-offset-2">
    <form name="userForm" class="form-horizontal">
      <h3>{{ 'USER_SETTINGS'|translate }}</h3><hr />
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'EMAIL'|translate }}</label>
            <div class="col-md-6">
              <p class="form-control-static">{{ user.email }}</p>
              <!-- <input type="email" class="form-control" ng-model="user.email"> -->
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'NAME'|translate }}</label>
            <div class="col-md-4">
              <input type="text" class="form-control" ng-model="user.name">
            </div>
          </div>
          <!-- <div class="form-group">
            <label class="col-md-3 control-label">{{ 'PASSWORD'|translate }}</label>
            <div class="col-md-6">
              <input type="password" class="form-control" ng-model="user.password">
            </div>
          </div> -->
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'PHONE'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.phone">
            </div>
          </div>
        </div>
      </div>
      <hr />

      <h3>{{ 'COMPANY_SETTINGS'|translate }}</h3><hr />
      <div class="row">
        <div class="col-md-8">
          <!-- <div class="form-group">
            <label class="col-md-3 control-label">{{ 'COMPANY_PORTAL_URL'|translate }}</label>
            <div ng-class="( isValidUrl ) ? 'has-success' : 'has-error'" class="col-md-6">
              <div class="input-group">
                <input type="text" class="form-control" ng-model="user.url" ng-change="isValidUrl = false;">
                <span class="input-group-addon"><i class="fa fa-check"></i></span>
              </div>
            </div>
            <div class="col-md-3">
              <button class="btn btn-info" ng-click="check()">{{ 'CHECK_DUPLICATE'|translate }}</button>
            </div>
          </div> -->
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'COMPANY_NAME'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.name">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'CHAIRMAN'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.chairman">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'URL'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.url">
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'COMPANY_TYPE'|translate }}</label>
            <div class="col-md-3">
              <select class="form-control" ng-model="user.company.type">
                <option value="INDIVIDUAL">{{ 'INDIVIDUAL'|translate }}</option>
                <option value="CORPORATE">{{ 'CORPORATE'|translate }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'BUSINESS_ID'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.businessId">
            </div>
          </div>
          <div class="form-group" ng-show="user.company.type === 'CORPORATE'">
            <label class="col-md-3 control-label">{{ 'CORPORATE_ID'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.corporateId">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'BUSINESS_TYPE'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.businessType">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'BUSINESS_CATEGORY'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.businessCategory">
            </div>
          </div>
        </div>
      </div>
      <hr />

      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'CONTACT_PHONE'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.phone">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'CONTACT_EMAIL'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.email">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'WEBSITE'|translate }}</label>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.website">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">{{ 'ADDRESS'|translate }}</label>
            <div class="col-md-3">
              <input type="text" class="form-control" ng-model="user.company.address[0]" placeholder="시, 도">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" ng-model="user.company.address[1]" placeholder="구, 동">
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
              <input type="text" class="form-control" ng-model="user.company.address[2]" placeholder="번지, 호">
            </div>
          </div>
        </div>
      </div>
      <hr />

      <button class="btn btn-lg btn-primary" ng-click="userForm.$valid && save(user)" ng-hide="isEditing">{{ 'SAVE'|translate }}</button>
      <a class="btn btn-lg btn-default" ng-href="/dashboard">{{ 'CANCEL'|translate }}</a>
    </form>
  </div>
</div>
