<div class="col-md-2 sidebar sidebar-offcanvas" ng-controller="NavCtrl" ng-init="location = getLocation()">
  <ul class="nav nav-sidebar">
    <li ng-class="{ active:location[0] === 'dashboard' }"><a ng-href="/dashboard"><i class="fa fa-fw fa-dashboard"></i> {{ 'DASHBOARD'|translate }}</a></li>
    <li ng-class="{ active:location[0] === 'customer' }"><a ng-href="/customer"><i class="fa fa-fw fa-users"></i> {{ 'CUSTOMER'|translate }}</a></li>
    <li ng-class="{ active:location[0] === 'product' }"><a ng-href="/product"><i class="fa fa-fw fa-cubes"></i> {{ 'PRODUCT'|translate }}</a></li>
    <li ng-class="{ active:location[0] === 'email' }"><a ng-href="/email"><i class="fa fa-fw fa-envelope"></i> {{ 'EMAIL'|translate }}</a></li>
    <!-- <li ng-class="{ active:location[0] === 'inventory' }"><a ng-href="/inventory"><i class="fa fa-fw fa-archive"></i> {{ 'INVENTORY_MANAGER'|translate }}</a></li> -->
  </ul>

  <ul class="nav nav-sidebar">
    <li><a ng-click="toggle('nav-sales')" class="hand-cursor"><i class="fa fa-fw fa-shopping-cart"></i> {{ 'SALES'|translate }}<i id="nav-sales-toggle" class="fa fa-caret-down pull-right"></i></a></li>
    <li id="nav-sales">
      <ul class="nav nav-sidebar">
        <li ng-class="{ active:location[0] === 'estimate' }"><a class="nav-sidebar-item" ng-href="/estimate">{{ 'ESTIMATE'|translate }}</a></li>
        <li ng-class="{ active:location[0] === 'invoice' }"><a class="nav-sidebar-item" ng-href="/invoice">{{ 'INVOICES'|translate }}</a></li>
        <li><a class="nav-sidebar-item disabled">{{ 'RECURRING_INVOICES'|translate }} (개발중)</a></li>
        <li ng-class="{ active:location[0] === 'payment' }"><a class="nav-sidebar-item" ng-href="/payment">{{ 'PAYMENTS_RECEIVED'|translate }}</a></li>
      </ul>
    </li>
  </ul>

  <!-- <ul class="nav nav-sidebar">
    <li><a ng-click="toggle('nav-purchase')" class="hand-cursor"><i class="fa fa-fw fa-list"></i> {{ 'PURCHASES'|translate }}<i id="nav-purchase-toggle" class="fa fa-caret-down pull-right"></i></a></li>
    <li id="nav-purchase">
      <ul class="nav nav-sidebar">
        <li><a class="nav-sidebar-item" ng-href="">{{ 'EXPENSES'|translate }}</a></li>
        <li><a class="nav-sidebar-item" ng-href="">{{ 'RECURRING_EXPENSES'|translate }}</a></li>
        <li><a class="nav-sidebar-item" ng-href="">{{ 'EXPENSE_CATEGORY'|translate }}</a></li>
      </ul>
    </li>
  </ul> -->

  <!-- <ul class="nav nav-sidebar">
    <li><a ng-href="/schedule"><i class="fa fa-fw fa-calendar"></i> {{ 'SCHEDULE'|translate }}</a></li>
    <li><a ng-href="/reports"><i class="fa fa-fw fa-line-chart"></i> {{ 'REPORTS'|translate }}</a></li>
  </ul> -->

  <ul class="nav nav-sidebar">
    <li ng-class="{ active:location[0] === 'settings' }"><a ng-href="/settings"><i class="fa fa-fw fa-gear"></i> {{ 'SETTINGS'|translate }}</a></li>
  </ul>
</div>