<div class="row row-offcanvas row-offcanvas-left">
  <sidebar-template></sidebar-template>

  <div class="col-md-10 col-md-offset-2">
    <loading-indicator></loading-indicator>

    <div class="row" style="margin: 40px 0">
      <div class="col-md-10 col-md-offset-1">
        <div style="text-align: center; margin: 30px 0;">
          <h2>{{ user.name || user.email }}님 환영합니다.</h2>
        </div>

        <!-- CAROUSEL -->
        <slick class="slick-carousel carousel-start" dots="true">
          <div ng-repeat="slide in slides">
            <div class="caption-carousel">
              <i class="text-info fa fa-fw fa-5x {{ slide.icon }}"></i>
              <h1>{{ slide.title|translate }}</h1>
              <p>{{ slide.text|translate }}</p>
            </div>
          </div>
        </slick><!-- CAROUSEL -->
      </div>
    </div>

    <div class="text-muted" style="text-align: center;">
      <h4><a href="mailto:colus001@me.com">{{ 'TALK_TO_US'|translate }}</a></h4>
      <p><strong>Office</strong> : 070 7655 2562, <strong>Mobile</strong> : 010 9283 6686 </p>
    </div>
    <hr>

    <div class="row text-muted">
      <div class="col-md-4 center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
        <h4><a ng-href="">{{ 'SEND_US_EMAIL'|translate }}</a></h4>
        <p>
          {{ 'SEND_US_EMAIL_CONTENT_BEFORE'|translate }}<br />
          <a href="mailto:colus001@me.com">{{ 'EMAIL'|translate }}</a>{{ 'SEND_US_EMAIL_CONTENT_AFTER'|translate }}
        </p>
      </div>
      <div class="col-md-4 center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
        </span>
        <h4><a ng-href="">{{ 'REQUEST_A_DEMO'|translate }}</a></h4>
        <p>
          {{ 'REQUEST_A_DEMO_CONTENT'|translate }}
        </p>
      </div>
      <div class="col-md-4 center">
        <span class="fa-stack fa-3x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-video-camera fa-stack-1x fa-inverse"></i>
        </span>
        <h4><a ng-href="">{{ 'REGISTER_FOR_SESSION'|translate }}</a></h4>
        <p>
          {{ 'REGISTER_FOR_SESSION_CONTENT'|translate }}
        </p>
      </div>
    </div>

  </div>
</div>