/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  /*.container {
    max-width: 730px;
  }*/
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.estimate {
  border: 2px solid lightgray;
  border-radius: 20px;
  padding: 50px 30px 30px 30px;
  margin: 50px 100px 50px 100px;
}

.panel-estimate {
  border: 1px solid lightgray;
  padding: 50px;
}

.panel-invoice {
  border: 1px solid lightgray;
  padding: 50px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-side {
  margin-right: 5px;
}

.hand-cursor {
  cursor: pointer;
}

.fixed-height {
  height: 500px;
}

.site-footer > li {
  list-style: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #EEE;
    border-right: 1px solid #EEE;
  }
}

.estimate-preview {
  background-color: #F0F0F0;
  overflow-y: auto;
  position: fixed;
  top: 51px;
  right: 0;
  bottom: 0;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.turquoise,
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #FFF;
  background-color: #40E0D0;
}

.turquoise-title {
  color: #FFF;
  background-color: #40E0D0;
  padding: 10px;
  font-size: 2em;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
}


tr.active>td {
  background-color: #40E0D0!important;
  color: #FFF;
}

.nav-sidebar > li > ul > li {
  list-style: none;
}

.inner-top {
  margin: 20px 0 20px 0;
}

.input-size-250 {
  width: 250px!important;
}

.typeahead {
  position: relative;
}

.overlay {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1000;
}

.nav-sidebar-item {
  padding-left: 60px!important;
}

.nav-sidebar-item.disabled {
  cursor: not-allowed;
  opacity: .65;
}

.ribbon {
  color: #FFF;
  position: absolute;
  text-transform: uppercase;
  /*background: rgba(0, 164, 239, 1);*/
  background: rgba(150, 150, 150, 1);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  clear: both;
  left: 6px;
  top: 90px;
}

.ribbon > span {
  font-weight: bold;
}

div.left_ribbon {
  margin-left: 0px;
  float: left;
}

div.left_ribbon::before {
  display: block;
  width: 10px;
  height: 0px;
  position: absolute;
  bottom: -10px;
  left: -1px;
  content: "";
  border-bottom: 10px solid transparent;
  /*border-right: 10px solid rgb(0, 80, 116);*/
  border-right: 10px solid rgb(75, 75, 75);
}

div.left_ribbon::after {
  display: block;
  width: 6px;
  height: 44px;
  position: absolute;
  bottom: 3px;
  right: -1px;
  content: "";
  border: 1px solid rgba(0,0,0,.3);
  transform: skew(0deg,45deg);
  -ms-transform: skew(0deg,45deg); /* IE 9 */
  -webkit-transform: skew(0deg,45deg); /* Safari and Chrome */
  -o-transform: skew(0deg,45deg); /* Opera */
  -moz-transform: skew(0deg,45deg); /* Firefox */
  /*background: rgb(0, 75, 116);*/
  background: rgb(75, 75, 75);
}

.nagative-number {
  color: red;
}

.hidden {
  display: none;
}

.receipt-element {
  margin-top: 20px;
  margin-bottom: 20px;
}

.receipt-element > .col-md-3 {
  color: gray;
}

.underlined {
  padding-left: 0px;
  border-bottom: 1px solid gray;
}

.payment-detail {
  margin-top: 50px;
  margin-bottom: 80px;
}

.payment-amount {
  position: absolute;
  right: 0px;
  padding-top: 15px;
  text-align: center;
  font-weight: bold;
  width: 90%;
  height: 80px;
  z-index: 1000!important;
}

.receipt-title {
  text-align: center;
}

.receipt-title > span {
  font-size: 1.8em;
  border-bottom: 1px solid gray;
}

.btn-white {
  background-color: white;
}

.btn-white:hover {
  background-color: white;
}

.estimate-tr {
  background-color: #333!important;
  color: white!important;
}

.estimate-total {
  background-color: #F2F1F0!important;
  text-align: right!important;
}

th.estimate-total {
  border-top: 2px solid #777!important;
  border-bottom: 2px solid #777!important;
}

/* .final-price {
  border: 2px solid #777;
  padding: 10px;
  margin: 20px 0 0 0;
  font-size: 2em;
} */

.login-mode {
  background-color: #DDD;
  padding: 15px 0 15px 0;
  margin-top: -15px;
}

.login-mode.active{
  background-color: #FFF;
  padding: 15px 0 15px 0;
  margin-top: -15px;
}

.login-wrapper {
  margin: 0px -15px!important;
}

.login-panel {
  padding-top: 15px;
}

.intro-logo {
  padding: 100px 25px 100px 25px;
  background-image: url("/images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.talk-to-us {
  padding-left: 0;
}

.talk-to-us > li {
  list-style: none;
}

.container-full {
  margin: 30px auto;
  width: 100%;
}

.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.row-arranged {
  margin: 0 -15px!important;
}

.mail-element {
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
}

.carousel-start {
  border: 1px solid lightgray;
  text-align: center;
  min-height: 200px;
}

.carousel-start .caption-carousel {
  padding: 35px 50px 25px 50px;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}


/* CHART */
.chart {
  width: 100%!important;
  height: 300px;
}

.ac-chart > svg {
  width: 100%!important;
}

.ac-legend-box {
  margin-right: 5px;
}


/* Off Canvas */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -100%;
  }
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -100%;
  }
  .row-offcanvas-right.active {
    right: 100%;
  }
  .row-offcanvas-left.active {
    left: 100%;
  }
  .sidebar-offcanvas {
    position: absolute!important;
    top: 21px;
    width: 100%!important;
    height: 100%;
    padding-right: 20px!important;
    overflow-y: scroll;
    overflow-x: none;
  }
  .estimate-preview {
    position: relative;
    background-color: #FFF;
    top: 0;
  }
}

.tr-bordered > td {
  border-bottom: 2px solid rgba(200,200,200,0.2)!important;
}

.subtotal > td {
  font-weight: bold;
  border-bottom: 2px solid rgba(200,200,200,0.2)!important;
}

.total > td {
  background-color: #777;
  color: #FFF;
  font-weight: bold;
  border-bottom: 2px solid rgba(200,200,200,0.2)!important;
}

.target-estimate {
  z-index: 1000;
  position: fixed;
  top: 65px;
  right: 10px;
  padding: 10px;
  border: 2px solid lightgray;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.2);
}

.target-equal {
  font-weight: bold;
  color: #40E0D0;
  border: 2px solid #40E0D0;
  /* background-color: rgba(62, 224, 208, 0.2); */
}

.ng-invalid {
  border-color: red;
}

.expired {
  background-color: rgba(0,0,0,0.5);
  color: #FFF;
  position: absolute;
  top: 0px;
  bottom: 0px;
  lefT: 0px;
  right: 0px;
  border-radius: 5px;
  padding-top: 200px;
  text-align: center;
  z-index: 1000;
 }
