{% extends 'layout.html' %}

{% block title %}Payment Manager{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<h3>노임단가</h3>
<hr />

<form>
  <div class="form-group">
    <label>레이블</label>
    <input type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>레이블</label>
    <input type="text" class="form-control">
  </div>
</form>
{% endblock %}
